= render partial: 'shared/header', locals: { back: "true", title: "Christian Experience" }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title Called by God
        .accordion-item-content
          .block
            %h4
              2 Tim. 1:9
              %sup 1-2
            %h4
              Rom. 1:6
              %sup 1
            %h4
              Acts 7:2
              %sup 2
            %h4
              2 Pet. 1:3
              %sup 8
            %h4
              1 Cor. 1:2
              %sup 6,8
            %h4
              1 Cor. 1: 9
              %sup 2
            %h4
              Eph. 1:18
              %sup 4
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title Repenting
        .accordion-item-content
          .block
            %h4
              Matt. 3:2
              %sup 1-2
            %h4
              Matt. 3:3
              %sup 2
            %h4
              Mark 1:15
              %sup 2
            %h4
              1 Thes. 1:9
              %sup 2
            %h4
              Acts 5:31
              %sup 4
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title Believing into Christ
        .accordion-item-content
          .block
            %h4
              Mark 1:15
              %sup 3
            %h4
              Rom. 3:22
              %sup 1
            %h4
              John 1:12
              %sup 1
            %h4
              John 3:16
              %sup 2
            %h4
              Col. 2:6
              %sup 1
            %h4
              Rom. 10:9
              %sup 2
            %h4
              Rom. 10:10
              %sup 1
            %h4
              Rom. 1:5
              %sup 3-4
            %h4
              Gal. 3:26
              %sup 2
            %h4
              Phil. 1:29
              %sup 1
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title Calling on the name of the Lord
        .accordion-item-content
          .block
            %h4
              Acts 2:21
              %sup 1-3
            %h4
              Acts 9:14
              %sup 1
            %h4
              Phil. 2:11
              %sup 1-3
            %h4
              Rom. 10:8
              %sup 1
            %h4
              Rom. 10:9
              %sup 1
            %h4
              Rom. 10:10
              %sup 1
            %h4
              Rom. 10:12
              %sup 1
            %h4
              Rom. 10:13
              %sup 1-2
            %h4
              Rom. 10:14
              %sup 1
            %h4
              1 Cor. 1:2
              %sup 8
            %h4
              1 Cor. 12:3
              %sup 3
            %h4
              2 Tim. 2:22
              %sup 3
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title Baptism
        .accordion-item-content
          .block
            %h4
              Mark 16:16
              %sup 1-2
            %h4
              Matt. 3:6
              %sup 1
            %h4
              Mark 1:8
              %sup 1
            %h4
              Acts 8:36
              %sup 1
            %h4
              1 Cor. 10:2
              %sup 1-3
            %h4
              Eph. 4:5
              %sup 2
            %h4
              Matt. 28:19
              %sup 3-5
            %h4
              Rom. 6:3
              %sup 1
              \- 5
              %sup 3
            %h4
              Gal. 3:27
              %sup 1
            %h4
              1 Cor. 12:13
              %sup 1-5
            %h4
              Acts 2:38
              %sup 3
            %h4
              1 Pet. 3:20
              %sup 3
            %h4
              1 Pet. 3:21
              %sup 1, 3-4;
            %h4
              Acts 16:33
              %sup 1
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title Living and walking by the Spirit
        .accordion-item-content
          .block
            %h4
              Col. 2:6
              %sup 1-2
            %h4
              1 Cor. 6:17
              %sup 1-2
            %h4
              Rom. 8:4
              %sup 1-2
            %h4
              Rom. 8:5
              %sup 2-3
            %h4
              Rom. 8:6
              %sup 2-3
            %h4
              Rom. 8:14
              %sup 1
            %h4
              Rom. 8:15
              %sup 1
            %h4
              Rom. 8:16
              %sup 1-3
            %h4
              Gal. 5:16
              %sup 1-2
            %h4
              Gal. 5:25
              %sup 1-2
            %h4
              Eph. 3:16
              %sup 5-6
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title Prayer
        .accordion-item-content
          .block
            %h4
              Eph. 6:18
              %sup 1-6
            %h4
              John 15:7
              %sup 2
            %h4
              John 15:16
              %sup 5
            %h4
              1 John 5:14
              %sup 3
            %h4
              Heb. 4:16
              %sup 1
            %h4
              Phil. 4:6
              %sup 1-4
            %h4
              Phil. 4:7
              %sup 1
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title Confession of sins
        .accordion-item-content
          .block
            %h4
              1 John 1:9
              %sup 1-2
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title Enjoying grace
        .accordion-item-content
          .block
            %h4
              John 1:14
              %sup 6
            %h4
              John 1:17
              %sup 1
            %h4
              Rom. 1:7
              %sup 2
            %h4
              Rom. 5:2
              %sup 1-3
            %h4
              Rom. 5:17
              %sup 1
            %h4
              1 Cor. 15:10
              %sup 1-2
            %h4
              Gal. 2:21
              %sup 1
            %h4
              Eph. 2:8
              %sup 2
            %h4
              Rom. 12:6
              %sup 1
            %h4
              Eph. 4:7
              %sup 2
            %h4
              Heb. 4:16
              %sup 1-2
            %h4
              1 Pet. 4:10
              %sup 2
            %h4
              1 Pet. 5:10
              %sup 2, 4
            %h4
              Rev. 22:21
              %sup 1
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title Walking in love
        .accordion-item-content
          .block
            %h4
              1 Cor. 2:9
              %sup 3
            %h4
              1 Cor. 8:1
              %sup 4
            %h4
              1 Cor. 13:4
              %sup 1
            %h4
              1 Cor. 13:8
              %sup 1
            %h4
              1 Cor. 13:13
              %sup 1
            %h4
              Rom. 13:8
              %sup 1
            %h4
              Gal. 5:6
              %sup 3
            %h4
              2 Tim. 3:2
              %sup 2
            %h4
              Eph. 1:4
              %sup 7
            %h4
              Eph. 3:17
              %sup 4
            %h4
              Eph. 5:2
              %sup 1
            %h4
              Eph. 5:25
              %sup 1
            %h4
              Eph. 6:23
              %sup 2-3
            %h4
              Eph. 6:24
              %sup 2-3
            %h4
              2 Pet. 1:7
              %sup 1-2
            %h4
              John 15:17
              %sup 1
            %h4
              John 21:15
              %sup 4
            %h4
              Rev. 2:4
              %sup 1-2
            %h4
              1 John 2:5
              %sup 2,4
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title Serving the Lord
        .accordion-item-content
          .block
            %h4
              Luke 10:42
              %sup 1
            %h4
              Luke 16:1
              %sup 1
            %h4
              Matt. 20:26
              %sup 1
            %h4
              Matt. 25:14
              %sup 3
            %h4
              Rom. 1:1
              %sup 2-4
            %h4
              Rom. 1:9
              %sup 1-2
            %h4
              Rom. 12:1
              %sup 5,7
            %h4
              Rom. 12:11
              %sup 1
            %h4
              1 Pet. 4:11
              %sup 2-3
