= render partial: 'shared/header', locals: { back: "true", title: "Christian Experience" }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Called by God
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6852" , style:"color:gray !important;", :target => "_blank"}
                2 Tim. 1:9
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3680" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:6
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3063" , style:"color:gray !important;", :target => "_blank"}
                Acts 7:2
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7991" , style:"color:gray !important;", :target => "_blank"}
                2 Pet. 1:3
                %sup.superscript-top 8
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4119" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 1:2
                %sup.superscript-top 6,8
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4133" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 1: 9
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5538" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:18
                %sup.superscript-top 4
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Repenting
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=68" , style:"color:gray !important;", :target => "_blank"}
                Matt. 3:2
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=72" , style:"color:gray !important;", :target => "_blank"}
                Matt. 3:3
                %sup.superscript-top 2
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1191" , style:"color:gray !important;", :target => "_blank"}
                Mark 1:15
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6393" , style:"color:gray !important;", :target => "_blank"}
                1 Thes. 1:9
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3034" , style:"color:gray !important;", :target => "_blank"}
                Acts 5:31
                %sup.superscript-top 4
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Believing into Christ
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1192" , style:"color:gray !important;", :target => "_blank"}
                Mark 1:15
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3737" , style:"color:gray !important;", :target => "_blank"}
                Rom. 3:22
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2364" , style:"color:gray !important;", :target => "_blank"}
                John 1:12
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2431" , style:"color:gray !important;", :target => "_blank"}
                John 3:16
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6256" , style:"color:gray !important;", :target => "_blank"}
                Col. 2:6
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3984" , style:"color:gray !important;", :target => "_blank"}
                Rom. 10:9
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3985" , style:"color:gray !important;", :target => "_blank"}
                Rom. 10:10
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3677" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:5
                %sup.superscript-top 3-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5325" , style:"color:gray !important;", :target => "_blank"}
                Gal. 3:26
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5963" , style:"color:gray !important;", :target => "_blank"}
                Phil. 1:29
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Calling on the name of the Lord
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2905" , style:"color:gray !important;", :target => "_blank"}
                Acts 2:21
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3131" , style:"color:gray !important;", :target => "_blank"}
                Acts 9:14
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6001" , style:"color:gray !important;", :target => "_blank"}
                Phil. 2:11
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3982" , style:"color:gray !important;", :target => "_blank"}
                Rom. 10:8
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3983" , style:"color:gray !important;", :target => "_blank"}
                Rom. 10:9
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3985" , style:"color:gray !important;", :target => "_blank"}
                Rom. 10:10
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3987" , style:"color:gray !important;", :target => "_blank"}
                Rom. 10:12
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3988" , style:"color:gray !important;", :target => "_blank"}
                Rom. 10:13
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3990" , style:"color:gray !important;", :target => "_blank"}
                Rom. 10:14
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4121" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 1:2
                %sup.superscript-top 8
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4514" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 12:3
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6923" , style:"color:gray !important;", :target => "_blank"}
                2 Tim. 2:22
                %sup.superscript-top 3
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Baptism
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1625" , style:"color:gray !important;", :target => "_blank"}
                Mark 16:16
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=74" , style:"color:gray !important;", :target => "_blank"}
                Matt. 3:6
                %sup.superscript-top 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1175" , style:"color:gray !important;", :target => "_blank"}
                Mark 1:8
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3122" , style:"color:gray !important;", :target => "_blank"}
                Acts 8:36
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4411" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 10:2
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5714" , style:"color:gray !important;", :target => "_blank"}
                Eph. 4:5
                %sup.superscript-top 2
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1147" , style:"color:gray !important;", :target => "_blank"}
                Matt. 28:19
                %sup.superscript-top 3-5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/bibleverses.asp?fvid=4927&lvid=4929" , style:"color:gray !important;", :target => "_blank"}
                Rom. 6:3
                %sup.superscript-top 1
                \- 5
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5326" , style:"color:gray !important;", :target => "_blank"}
                Gal. 3:27
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4533" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 12:13
                %sup.superscript-top 1-5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2942" , style:"color:gray !important;", :target => "_blank"}
                Acts 2:38
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7860" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 3:20
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7861" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 3:21
                %sup.superscript-top 1, 3-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3353" , style:"color:gray !important;", :target => "_blank"}
                Acts 16:33
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Living and walking by the Spirit
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6256" , style:"color:gray !important;", :target => "_blank"}
                Col. 2:6
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4307" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 6:17
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3894" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:4
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3898" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:5
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3901" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:6
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3925" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:14
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3928" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:15
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3930" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:16
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5422" , style:"color:gray !important;", :target => "_blank"}
                Gal. 5:16
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5440" , style:"color:gray !important;", :target => "_blank"}
                Gal. 5:25
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5683" , style:"color:gray !important;", :target => "_blank"}
                Eph. 3:16
                %sup.superscript-top 5-6
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Prayer
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5902" , style:"color:gray !important;", :target => "_blank"}
                Eph. 6:18
                %sup.superscript-top 1-6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2698" , style:"color:gray !important;", :target => "_blank"}
                John 15:7
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2707" , style:"color:gray !important;", :target => "_blank"}
                John 15:16
                %sup.superscript-top 5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8454" , style:"color:gray !important;", :target => "_blank"}
                1 John 5:14
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7257" , style:"color:gray !important;", :target => "_blank"}
                Heb. 4:16
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6125" , style:"color:gray !important;", :target => "_blank"}
                Phil. 4:6
                %sup.superscript-top 1-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6129" , style:"color:gray !important;", :target => "_blank"}
                Phil. 4:7
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Confession of sins
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8208" , style:"color:gray !important;", :target => "_blank"}
                1 John 1:9
                %sup.superscript-top 1-2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Enjoying grace
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2373" , style:"color:gray !important;", :target => "_blank"}
                John 1:14
                %sup.superscript-top 6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2375" , style:"color:gray !important;", :target => "_blank"}
                John 1:17
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3682" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:7
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3769" , style:"color:gray !important;", :target => "_blank"}
                Rom. 5:2
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3797" , style:"color:gray !important;", :target => "_blank"}
                Rom. 5:17
                %sup.superscript-top 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4631" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 15:10
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5274" , style:"color:gray !important;", :target => "_blank"}
                Gal. 2:21
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5585" , style:"color:gray !important;", :target => "_blank"}
                Eph. 2:8
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4023" , style:"color:gray !important;", :target => "_blank"}
                Rom. 12:6
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5719" , style:"color:gray !important;", :target => "_blank"}
                Eph. 4:7
                %sup.superscript-top 2
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7257" , style:"color:gray !important;", :target => "_blank"}
                Heb. 4:16
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7887" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 4:10
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7953" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 5:10
                %sup.superscript-top 2, 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9344" , style:"color:gray !important;", :target => "_blank"}
                Rev. 22:21
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Walking in love
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4180" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 2:9
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4354" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 8:1
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4557" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 13:4
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4560" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 13:8
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4572" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 13:13
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4045" , style:"color:gray !important;", :target => "_blank"}
                Rom. 13:8
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5413" , style:"color:gray !important;", :target => "_blank"}
                Gal. 5:6
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6937" , style:"color:gray !important;", :target => "_blank"}
                2 Tim. 3:2
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5495" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:4
                %sup.superscript-top 7
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5688" , style:"color:gray !important;", :target => "_blank"}
                Eph. 3:17
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5800" , style:"color:gray !important;", :target => "_blank"}
                Eph. 5:2
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5839" , style:"color:gray !important;", :target => "_blank"}
                Eph. 5:25
                %sup.superscript-top 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5915" , style:"color:gray !important;", :target => "_blank"}
                Eph. 6:23
                %sup.superscript-top 2-3
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5918" , style:"color:gray !important;", :target => "_blank"}
                Eph. 6:24
                %sup.superscript-top 2-3
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8010" , style:"color:gray !important;", :target => "_blank"}
                2 Pet. 1:7
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2708" , style:"color:gray !important;", :target => "_blank"}
                John 15:17
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2831" , style:"color:gray !important;", :target => "_blank"}
                John 21:15
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8681" , style:"color:gray !important;", :target => "_blank"}
                Rev. 2:4
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8225" , style:"color:gray !important;", :target => "_blank"}
                1 John 2:5
                %sup.superscript-top 2,4
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Serving the Lord
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1967" , style:"color:gray !important;", :target => "_blank"}
                Luke 10:42
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2114" , style:"color:gray !important;", :target => "_blank"}
                Luke 16:1
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=775" , style:"color:gray !important;", :target => "_blank"}
                Matt. 20:26
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=989" , style:"color:gray !important;", :target => "_blank"}
                Matt. 25:14
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=992" , style:"color:gray !important;", :target => "_blank"}
                Matt. 25:15
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3653" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:1
                %sup.superscript-top 2-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3683" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:9
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4010" , style:"color:gray !important;", :target => "_blank"}
                Rom. 12:1
                %sup.superscript-top 5,7
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4030" , style:"color:gray !important;", :target => "_blank"}
                Rom. 12:11
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7889" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 4:11
                %sup.superscript-top 2-3
            .hr
