= render partial: 'shared/header', locals: { back: 'true', title: 'Divine Truth - Reality', icon: 'logo-mark.svg' }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic All the realities of the divine economy
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8192" , style:"color:gray !important;", :target => "_blank"}
                1 John 1:6
                %sup.superscript-top 6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8201" , style:"color:gray !important;", :target => "_blank"}
                1 John 1:8
                %sup.superscript-top 3
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6635" , style:"color:gray !important;", :target => "_blank"}
                1 Tim. 2:4
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6710" , style:"color:gray !important;", :target => "_blank"}
                1 Tim. 3:15
                %sup.superscript-top 5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6903" , style:"color:gray !important;", :target => "_blank"}
                2 Tim. 2:15
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6927" , style:"color:gray !important;", :target => "_blank"}
                2 Tim. 2:25
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7010" , style:"color:gray !important;", :target => "_blank"}
                Titus 1:1
                %sup.superscript-top 3
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The divine reality embodied, revealed, and expressed in Christ
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2770" , style:"color:gray !important;", :target => "_blank"}
                John 18:37
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2373" , style:"color:gray !important;", :target => "_blank"}
                John 1:14
                %sup.superscript-top 6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2672" , style:"color:gray !important;", :target => "_blank"}
                John 14:6
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5765" , style:"color:gray !important;", :target => "_blank"}
                Eph.4:21
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The reality which is the Spirit
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2679" , style:"color:gray !important;", :target => "_blank"}
                John 14:17
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2687" , style:"color:gray !important;", :target => "_blank"}
                John 14:26
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2710" , style:"color:gray !important;", :target => "_blank"}
                John 15:26
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2715" , style:"color:gray !important;", :target => "_blank"}
                John 16:13
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8443" , style:"color:gray !important;", :target => "_blank"}
                1 John 5:6
                %sup.superscript-top 4-5
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The substance of God’s word
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2746" , style:"color:gray !important;", :target => "_blank"}
                John 17:17
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6188" , style:"color:gray !important;", :target => "_blank"}
                Col. 1:5
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4850" , style:"color:gray !important;", :target => "_blank"}
                2 Cor. 4:2
                %sup.superscript-top 2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The truth which we must hold to, obey, and walk in
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5742" , style:"color:gray !important;", :target => "_blank"}
                Eph. 4:15
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7757" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 1:22
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8527" , style:"color:gray !important;", :target => "_blank"}
                3 John 3
                %sup.superscript-top 2-3
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The reality in our living
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2454" , style:"color:gray !important;", :target => "_blank"}
                John 4:24
                %sup.superscript-top 5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5891" , style:"color:gray !important;", :target => "_blank"}
                Eph. 6:14
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8192" , style:"color:gray !important;", :target => "_blank"}
                1 John 1:6
                %sup.superscript-top 6
                &nbsp; pt. 7
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8485" , style:"color:gray !important;", :target => "_blank"}
                2 John 1
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8516" , style:"color:gray !important;", :target => "_blank"}
                2 John 13
                %sup.superscript-top 1
