= render partial: 'shared/header', locals: { back: 'true', title: 'ETERNAL LIFE', icon: 'logo-mark.svg' }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The divine, uncreated life of God
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2429" , style:"color:gray !important;", :target => "_blank"}
                John 3:15
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2728" , style:"color:gray !important;", :target => "_blank"}
                John 17:3
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3842" , style:"color:gray !important;", :target => "_blank"}
                Rom. 6:23
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5760" , style:"color:gray !important;", :target => "_blank"}
                Eph. 4:18
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6617" , style:"color:gray !important;", :target => "_blank"}
                1 Tim. 1:16
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6824" , style:"color:gray !important;", :target => "_blank"}
                1 Tim. 6:12
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6857" , style:"color:gray !important;", :target => "_blank"}
                2 Tim. 1:10
                %sup.superscript-top 3-4
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8171" , style:"color:gray !important;", :target => "_blank"}
                1 John 1:2
                %sup.superscript-top 1-6
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Different from the physical or soulish life
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3800" , style:"color:gray !important;", :target => "_blank"}
                Rom. 5:17
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2595" , style:"color:gray !important;", :target => "_blank"}
                John 10:11
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The life of the tree of life
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2360" , style:"color:gray !important;", :target => "_blank"}
                John 1:4
                %sup.superscript-top 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8690" , style:"color:gray !important;", :target => "_blank"}
                Rev. 2:7
                %sup.superscript-top 6
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9300" , style:"color:gray !important;", :target => "_blank"}
                Rev. 22:2
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9328" , style:"color:gray !important;", :target => "_blank"}
                Rev. 22:14
                %sup.superscript-top 4
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic A living person, Christ Himself
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2671" , style:"color:gray !important;", :target => "_blank"}
                John 14:6
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8449" , style:"color:gray !important;", :target => "_blank"}
                1 John 5:11
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8450" , style:"color:gray !important;", :target => "_blank"}
                1 John 5:12
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8279" , style:"color:gray !important;", :target => "_blank"}
                1 John 2:25
                %sup.superscript-top 1, 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6322" , style:"color:gray !important;", :target => "_blank"}
                Col. 3:4
                %sup.superscript-top 1-2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The life which regenerates the believers to be God’s children
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2365" , style:"color:gray !important;", :target => "_blank"}
                John 1:12
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2418" , style:"color:gray !important;", :target => "_blank"}
                John 3:3
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2421" , style:"color:gray !important;", :target => "_blank"}
                John 3:6
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2430" , style:"color:gray !important;", :target => "_blank"}
                John 3:16
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The life which we should lay hold on and hope in
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6824" , style:"color:gray !important;", :target => "_blank"}
                1 Tim. 6:12
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7012" , style:"color:gray !important;", :target => "_blank"}
                Titus 1:2
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7701" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 1:3
                %sup.superscript-top 6
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The way we can experience life and grow in life
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7772" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 2:2
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2533" , style:"color:gray !important;", :target => "_blank"}
                John 6:57
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2535" , style:"color:gray !important;", :target => "_blank"}
                John 6:63
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3886" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:2
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3895" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:4
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3900" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:6
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8194" , style:"color:gray !important;", :target => "_blank"}
                1 John 1:7
                %sup.superscript-top 2-3
            .hr