#app.framework7-root
  .statusbar
  .panel-backdrop
  .panel.panel-left.panel-cover
    .page
      .page-content
        .block-title Left Panel
        .block
          %p
            This is a left side panel. You can close it by clicking outsite or on this link:
            = succeed "." do
              %a.panel-close{:href => "#"} close me
            %a.panel-open{"data-panel" => "right", :href => "#"} Right Panel


        .block-title Main View Navigation
        .list.links-list
          %ul
            %li
              %a.panel-close{:href => "/accordion/"} Accordion
            %li
              %a.panel-close{:href => "/action-sheet/"} Action Sheet
            %li
              %a.panel-close{:href => "/badge/"} Badge
            %li
              %a.panel-close{:href => "/buttons/"} Buttons
            %li
              %a.panel-close{:href => "/cards/"} Cards
            %li
              %a.panel-close{:href => "/checkbox/"} Checkbox
            %li
              %a.panel-close{:href => "/chips/"} Chips/Tags
            %li
              %a.panel-close{:href => "/contacts-list/"} Contacts List
            %li
              %a.panel-close{:href => "/data-table/"} Data Table


  .view.view-main.view-init.ios-edges{"data-url" => "/"}
    .navbar
      .navbar-inner.navbar-current
        .left
          %a.link.icon-only.panel-open{"data-panel" => "left", :href => "#"}
            %i.icon.f7-icons.ios-only menu
        .title.sliding{:style => "left: 0px;color:green;"} Topical Guide
        .right
          %a.link.icon-only.searchbar-enable{"data-searchbar" => ".searchbar-components"}
            %i.icon.f7-icons.ios-only search_strong
        %form.searchbar.searchbar-expandable.searchbar-components.searchbar-init{"data-search-container" => ".components-list", "data-search-in" => "a"}
          .searchbar-inner
            .searchbar-input-wrap
              %input{:placeholder => "Search components", :type => "search"}/
              %i.searchbar-icon
              %span.input-clear-button
            %span.searchbar-disable-button Cancel
    .page.page-current
      .searchbar-backdrop
      .page-content
        .block-title{style:"font-weight:bolder;"} Eternal Life
        .list.accordion-list
          %ul
            %li.accordion-item
              %a.item-content.item-link{:href => "#"}
                .item-inner
                  .item-title{style:"color:Orange;font-weight:bolder;"} Different from the physical or soulish life
              .accordion-item-content
                .block
                  %i
                    %label.item-checkbox.item-content
                      %input{:name => "demo-checkbox", :type => "checkbox"}/
                      %i.icon.icon-checkbox{style:"border-radius:2px;"}
                      ( John 3:151; 17:31; Rom. 6:233; Eph. 4:182; 1 Tim. 1:162; 6:122-3; 2 Tim. 1:103-4; 1 John 1:21-6 )
                  %hr
                  %p{style:"font-family:bold;font-weight:bolder;"}
                    The life of the tree of life
                  %i
                    %label.item-checkbox.item-content
                      %input{:name => "demo-checkbox", :type => "checkbox"}/
                      %i.icon.icon-checkbox{style:"border-radius:2px;"}
                      ( John 1:41; Rev. 2:76; 22:21, 144)
                  %hr
                  %p{style:"font-family:bold;font-weight:bolder;"}
                    A living person, Christ Himself
                  %i
                    %label.item-checkbox.item-content
                      %input{:name => "demo-checkbox", :type => "checkbox"}/
                      %i.icon.icon-checkbox{style:"border-radius:2px;"}
                      ( John 14:61; 1 John 5:111, 121; 2:251, 3; Col. 3:41-2 )
                  %hr
                  %p{style:"font-family:bold;font-weight:bolder;"}
                    The life which regenerates the believers to be God’s children
                  %i
                    %label.item-checkbox.item-content
                      %input{:name => "demo-checkbox", :type => "checkbox"}/
                      %i.icon.icon-checkbox{style:"border-radius:2px;"}
                      ( John 1:122; 3:33, 62, 161)
                  %hr
