= render partial: 'shared/header', locals: { back: "true", title: "God" }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title Triune—three yet one
        .accordion-item-content
          .block
            %h4
              2 Cor. 13:14
              %sup 1
              (para. 1-4)
            %h4
              2 Cor. 13:14
              %sup 1
              (para. 5 to end)
            %h4
              Matt. 28:19
              %sup 5-6
              ;
              3:17
              %sup 1
              ;
            %h4
              John 14:7
              %sup 1
            %h4
              John 14:26
              %sup 1-3
              ;
              5:43
              %sup 1
              ;
              15:26
              %sup 1
              ;
              10:30
              %sup 1
            %h4
              1 Pet. 1:2
              %sup 2
              , 13
              %sup 1
              ;
            %h4
              Eph. 1:3
              %sup 1, 6
              ;
              4:4
              %sup 1
              , 6
              %sup 3
              ;
            %h4
              Rev. 1:4
              %sup 3-5
              ;
              22:1
              %sup 5
              ;
            %h4
              2 Pet. 3:16
              %sup 2
              (para. 2)
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title His nature and attributes
        .accordion-item-content
          .block
            %h3 Spirit:
            %h4
              Rev. 1:4
              %sup 3-5
              ;
              22:1
              %sup 5
            %h3 Love:
            %h4
              1 John 4:8
              %sup 2
              , 16
              %sup 3
              ;
            %h4
              2 Pet. 1:7
              %sup 2
            %h3 Light:
            %h4
              1 John 1:5
              %sup 2, 4
              , 7
              %sup 1
            %h3 Holiness:
            %h4
              Eph. 1:4
              %sup 3
              ;
            %h4
              1 Pet. 1:15
              %sup 1-2
              , 17
              %sup 1
              ;
            %h4
              1 Thes. 5:28
              %sup 1
              ;
            %h4
              Heb. 12:29
              %sup 1
            %h3 Righteousness:
            %h4
              Rom. 1:17
              %sup 1
              ;
            %h4
              1 John 3:10
              %sup 2
              ;
            %h4
              2 Pet. 1:1
              %sup 9
              ;
            %h4
              1 Tim. 6:11
              %sup 2
            %h3 Glory:
            %h4
              Rom. 3:23
              %sup 1
              ;
            %h4
              Titus 2:13
              %sup 3
              ;
            %h4
              Rev. 21:11
              %sup 1

