= render partial: 'shared/header', locals: { back: 'true', title: 'GOD', icon: 'logo-mark.svg' }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Triune—three yet one
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--highlight
                2 Cor. 13:14
                %sup.biblelink__note 1
                &nbsp; (para. 1-4)
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--highlight
                2 Cor. 13:14
                %sup.biblelink__note 1
                &nbsp; (para. 5 to end)
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1149" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                Matt. 28:19
                %sup.biblelink__note 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1150" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 6
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=87" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Matt. 3:17
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2673" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--highlight
                John 14:7
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2687" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                John 14:26
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2688" , style:"color:gray !important;margin-left:2px;", :target => "_blank"}
              .biblelink.biblelink--middle
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2689" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2504" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                John 5:43
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2710" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                John 15:26
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2602" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                John 10:30
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7685" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 Peter 1:2
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7737" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 Peter 1:13
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5480" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                Eph. 1:3
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5485" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 6
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5711" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Eph. 4:4
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5717" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Eph. 4:6
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8636" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                Rev. 1:4
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8637" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--middle
                %sup.biblelink__note 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8638" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9298" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Rev. 22:1
                %sup.biblelink__note 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8154" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                2 Peter 3:16
                %sup.biblelink__note 2
                &nbsp; (para. 2)
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic His nature and attributes
        .accordion-item-content
          .block
            %h3 Spirit:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8185" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--highlight
                1 John 1:5
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2451" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                John 4:24
                %sup.biblelink__note 2
            %h3 Love:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8396" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 John 4:8
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8415" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 John 4:16
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8011" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                2 Peter 1:7
                %sup.biblelink__note 2
            %h3 Light:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8184" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                1 John 1:5
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8186" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8193" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 John 1:7
                %sup.biblelink__note 1
            %h3 Holiness:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5491" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Eph. 1:4
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7742" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                1 Peter 1:15
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7743" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7744" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 Peter 1:17
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6521" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 Thes. 5:28
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7491" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Heb. 12:29
                %sup.biblelink__note 1
            %h3 Righteousness:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3689" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Rom. 1:17
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8341" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 John 3:10
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7977" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                2 Peter 1:1
                %sup.biblelink__note 9
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6817" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 Tim. 6:11
                %sup.biblelink__note 2
            %h3 Glory:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3738" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Rom. 3:23
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7089" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Titus 2:13
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9252" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Rev. 21:11
                %sup.biblelink__note 1
            .hr

