= render partial: 'shared/header', locals: { back: "true", title: "God" }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Triune—three yet one
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                2 Cor. 13:14
                %sup 1
                (para. 1-4)
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                2 Cor. 13:14
                %sup 1
                (para. 5 to end)
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                Matt. 28:19
                %sup 5-6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                Matt. 3:17
                %sup 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                John 14:7
                %sup 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                John 14:26
                %sup 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                John 5:43
                %sup 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                John 15:26
                %sup 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                John 10:30
                %sup 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                1 Pet. 1:2
                %sup 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                1 Pet. 1:13
                %sup 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                Eph. 1:3
                %sup 1, 6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                Eph. 4:4
                %sup 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                Eph. 4:6
                %sup 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                Rev. 1:4
                %sup 3-5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                Rev. 22:1
                %sup 5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                2 Pet. 3:16
                %sup 2
                (para. 2)
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic His nature and attributes
        .accordion-item-content
          .block
            %h3 Spirit:
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                1 John 1:5
                %sup 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                John 4:24
                %sup 2
            %h3 Love:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                1 John 4:8
                %sup 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                1 John 4:16
                %sup 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                2 Pet. 1:7
                %sup 2
            %h3 Light:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                1 John 1:5
                %sup 2, 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                1 John 1:7
                %sup 1
            %h3 Holiness:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                Eph. 1:4
                %sup 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                1 Pet. 1:15
                %sup 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                1 Pet. 1:17
                %sup 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                1 Thes. 5:28
                %sup 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                Heb. 12:29
                %sup 1
            %h3 Righteousness:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                Rom. 1:17
                %sup 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                1 John 3:10
                %sup 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                2 Pet. 1:1
                %sup 9
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                1 Tim. 6:11
                %sup 2
            %h3 Glory:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                Rom. 3:23
                %sup 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                Titus 2:13
                %sup 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;"}
                Rev. 21:11
                %sup 1
            .hr

