= render partial: 'shared/header', locals: { back: 'true', title: 'MAN', icon: 'logo-mark.svg' }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Created as a vessel to contain God
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3975" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Rom. 9:21
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4865" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                2 Cor. 4:7
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4866" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6916" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                2 Tim 2:20
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6920" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                2 Tim 2:21
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7840" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 Peter 3:7
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3132" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Acts 9:15
                %sup.biblelink__note 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic With three parts
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6514" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--highlight.biblelink--begin
                1 Thes. 5:23
                %sup.biblelink__note 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6515" , style:"color:gray !important;margin-left:2px;", :target => "_blank"}
              .biblelink.biblelink--highlight.biblelink--middle
                %sup.biblelink__note 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6516" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--highlight.biblelink--end
                %sup.biblelink__note 6
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7251" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--highlight.biblelink--begin
                Heb. 4:12
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7252" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--highlight.biblelink--end
                %sup.biblelink__note 3
            %h3 Spirit:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2422" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                John 3:6
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2451" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                John 4:24
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2452" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--middle
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2453" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3684" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Rom. 1:9
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3912" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                Rom. 8:10
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3914" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--middle
                %sup.biblelink__note 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3915" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--middle
                %sup.biblelink__note 6
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3916" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 7
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3930" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                Rom. 8:16
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3931" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4308" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 Cor. 6:17
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4184" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 Cor. 2:11
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4193" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 Cor. 2:14
                %sup.biblelink__note 6
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4194" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 Cor. 2:15
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7006" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                2 Tim. 4:22
                %sup.biblelink__note 1
            %h3 Soul:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3286" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--highlight
                Acts 14:22
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3900" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                Rom. 8:6
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3901" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--middle
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3902" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4016" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Rom. 12:2
                %sup.biblelink__note 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4189" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                1 Cor. 2:14
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4191" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=652" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                Matt. 16:24
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=653" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--middle
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=654" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7419" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Heb. 10:39
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5958" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Phil 1:27
                %sup.biblelink__note 1
            %h3 Body:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3912" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                Rom. 8:10
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3913" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3920" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Rom. 8:11
                %sup.biblelink__note 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3924" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                Rom. 8:13
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3940" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                Rom. 8:23
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3941" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4009" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--begin
                Rom. 12:1
                %sup.biblelink__note 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4010" , style:"color:gray !important;", :target => "_blank"}
              .biblelink.biblelink--end
                %sup.biblelink__note 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4303" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 Cor. 6:13
                %sup.biblelink__note 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4305" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 Cor. 6:15
                %sup.biblelink__note 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4310" , style:"color:gray !important;", :target => "_blank"}
              .biblelink
                1 Cor. 6:19
                %sup.biblelink__note 1
            .hr
