= render partial: 'shared/header', locals: { back: "true", title: "Man" }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Created as a vessel to contain God
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 9:21
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                2 Cor. 4:7
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                2 Tim 2:20
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                2 Tim 2:21
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 3:7
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Acts 9:15
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic With three parts
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Thes. 5:23
                %sup.superscript-top 4-6
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Heb. 4:12
                %sup.superscript-top 2-3
            %h3 Spirit:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                John 3:6
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                John 4:24
                %sup.superscript-top 2-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:9
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:10
                %sup.superscript-top 3, 5-7
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:16
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 6:17
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 2:11
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 2:14
                %sup.superscript-top 6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 2:15
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                2 Tim. 4:22
                %sup.superscript-top 1
            %h3 Soul:
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Acts 14:22
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:6
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 12:2
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 2:14
                %sup.superscript-top 2, 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Matt. 16:24
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Heb. 10:39
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Phil 1:27
                %sup.superscript-top 1
            %h3 Body:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:10
                %sup.superscript-top 3-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:11
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:13
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:23
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 12:1
                %sup.superscript-top 4-5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 6:13
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 6:15
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 6:19
                %sup.superscript-top 1
            .hr
