= render partial: 'shared/header', locals: { back: 'true', title: 'SALVATION', icon: 'logo-mark.svg' }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Assurance and security
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8451" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 5:13
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8407" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 4:13
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8409" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3932" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 8:16
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8370" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 3:24
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8348" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 3:14
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2600" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 10:28
                %sup.footnote 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Aspects of God’s salvation
        .accordion-item-content
          .block
            %h3 Selection:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4157" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Cor 1:27
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5489" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:4
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5490" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5491" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7684" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Pet. 1:2
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7685" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7686" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7687" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7689" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 6
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6557" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Thes. 2:13
                %sup.footnote 1
            %h3 Predestination:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3952" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 8:29
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5496" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:5
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5497" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5516" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:11
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5517" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5518" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5519" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7014" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Titus 1:2
                %sup.footnote 3
            %h3 Redemption:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3741" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Rom. 3:24
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5504" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:7
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1570" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 14:36
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1111" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 27:45
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6206" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Col. 1:14
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6207" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7092" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Titus 2:14
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7749" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Pet. 1:18
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7750" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Pet. 1:19
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7363" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Heb. 9:12
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7364" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7367" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 9:14
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7203" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 2:9
                %sup.footnote 3
            %h3 Propitiation:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2180" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Luke 18:13
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3743" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Rom. 3:25
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3744" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7220" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 2:17
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8216" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 2:2
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8217" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %h3 By the blood of Christ:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7366" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Heb. 9:14
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7368" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7378" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 9:22
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1063" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 26:28
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1064" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7363" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 9:12
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7364" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5504" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:7
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5505" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5600" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 2:13
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5601" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7691" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Pet. 1:2
                %sup.footnote 8
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7749" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Pet. 1:18
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7750" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Pet. 1:19
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3469" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Acts 20:28
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8195" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                1 John 1:7
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8196" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8197" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7487" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Heb. 12:24
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7488" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9004" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rev. 12:11
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7506" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 13:12
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7507" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7407" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 10:29
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7408" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7409" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2529" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 6:53
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2531" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 6:54
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4437" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 10:16
                %sup.footnote 1
            %h3 Forgiveness:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2944" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Acts 2:38
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5505" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:7
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7378" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 9:22
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8242" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 2:12
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8203" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 1:9
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8204" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8205" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %h3 Justification (Objective):
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3269" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Acts 13:39
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3739" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 3:24
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3740" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3745" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 3:26
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3748" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 3:30
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3801" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 5:18
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3802" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3956" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 8:30
                %sup.footnote 1
            %h3 Justification (Subjective):
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3749" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Rom. 4:1
                %sup.footnote 1

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3752" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom 4:3
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3767" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 4:25
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3802" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 5:18
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3803" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 5:19
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4297" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 6:11
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6074" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Phil. 3:9
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6075" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 6
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=168" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 5:20
                %sup.footnote 1
            %h3 Reconciliation:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3779" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 5:10
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5616" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 2:16
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5617" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5618" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5619" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5625" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 2:18
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5626" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5627" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5628" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6220" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Col. 1:20
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6221" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6222" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6223" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6224" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4948" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                2 Cor. 5:20
                %sup.footnote 2
            %h3 Regeneration:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2415" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 3:2
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2416" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 3:3
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2418" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2420" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 3:5
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2422" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                John 3:6
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2428" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 3:14
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2438" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 3:30
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5278" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 3:2
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7107" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Titus 3:5
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7699" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Pet. 1:3
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7702" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 7
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7761" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Pet. 1:23
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7762" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7763" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Pet. 1:24
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8304" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                1 John 2:29
                %sup.footnote 7
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8338" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 3:9
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8393" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 4:7
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8394" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8429" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 5:1
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8435" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                1 John 5:4
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8436" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8437" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8439" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8468" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 5:19
                %sup.footnote 1
            %h3
              Sanctification:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6559" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                2 Thes. 2:13
                %sup.footnote 3
            %h3
              Sanctification: (Before believing)
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7688" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Pet. 1:2
                %sup.footnote 5
            %h3
              Sanctification: (At the time we were saved)
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7506" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 13:12
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4297" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 6:11
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4117" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 1:2
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4118" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4119" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 6
            %h3
              Sanctification: (After believing)
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3836" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 6:19
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3837" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3839" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 6:22
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3598" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Acts 26:18
                %sup.footnote 7
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6511" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Thes. 5:23
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6512" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6513" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6514" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6515" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7209" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 2:11
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7210" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5841" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 5:26
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5842" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5843" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5844" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2745" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 17:17
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2746" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %h3 Renewing:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4016" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 12:2
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4886" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Cor. 4:16
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5771" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 4:23
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5772" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6330" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Col. 3:10
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7107" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Titus 3:5
                %sup.footnote 4
            %h3 Transformation:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4015" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Rom. 12:2
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4016" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4835" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Cor. 3:18
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4837" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4838" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4839" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4840" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 6
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4841" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 7
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4842" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 8
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4843" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 9
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4844" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 10
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8718" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rev. 2:17
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8719" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %h3 Conformation:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3948" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 8:28
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3952" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 8:29
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3953" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6077" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Phil. 3:10
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6078" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6079" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %h3 Glorification, transfiguration:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7206" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Heb. 2:10
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6110" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Phil. 3:21
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6111" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6112" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6113" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6531" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Thes. 1:10
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3957" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 8:30
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3933" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 8:17
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9252" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Rev. 21:11
                %sup.footnote 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Three stages, two sections
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7711" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                1 Pet. 1:5
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3780" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 5:10
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2106" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Luke 15:23
                %sup.footnote 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Daily, constant salvation
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3781" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 5:10
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3782" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5946" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Phil. 1:19
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5947" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5948" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5981" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Phil. 2:5
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6006" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Phil. 2:12
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6007" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6023" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Phil. 2:16
                %sup.footnote 2
            .hr
