= render partial: 'shared/header', locals: { back: "true", title: "Salvation" }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Assurance and security
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 5:13
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 4:13
                %sup.superscript-top 1, 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:16
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 3:24
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 3:14
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 10:28
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Aspects of God’s salvation
        .accordion-item-content
          .block
            %h3 Selection:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Cor 1:27
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:4
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 1:2
                %sup.superscript-top 1-4, 6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Thes. 2:13
                %sup.superscript-top 1
            %h3 Predestination:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:29
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:5
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:11
                %sup.superscript-top 1-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Titus 1:2
                %sup.superscript-top 3
            %h3 Redemption:
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 3:24
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:7
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Mark 14:36
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 27:45
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Col. 1:14
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Titus 2:14
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 1:18
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 1:19
                %sup.superscript-top 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 9:12
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 9:14
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 2:9
                %sup.superscript-top 3
            %h3 Propitiation:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Luke 18:13
                %sup.superscript-top 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 3:25
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 2:17
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 2:2
                %sup.superscript-top 1-2
            %h3 By the blood of Christ:
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 9:14
                %sup.superscript-top 1, 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 9:22
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 26:28
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 9:12
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:7
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 2:13
                %sup.superscript-top 3-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 1:2
                %sup.superscript-top 8
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 1:18
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 1:19
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Acts 20:28
                %sup.superscript-top 5
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 1:7
                %sup.superscript-top 3-5
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 12:24
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rev. 12:11
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 13:12
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 10:29
                %sup.superscript-top 2-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 6:53
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 6:54
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 10:16
                %sup.superscript-top 1
            %h3 Forgiveness:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Acts 2:38
                %sup.superscript-top 5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:7
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 9:22
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 2:12
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 1:9
                %sup.superscript-top 2-4
            %h3 Justification: (Objective)
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Acts 13:39
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 3:24
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 3:26
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 3:30
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 5:18
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:30
                %sup.superscript-top 1
            %h3 Justification: (Subjective)
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 4:1
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 1:7
                %sup.superscript-top 3-5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 1:3
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 1:25
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 5:18
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 5:19
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 6:11
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Phil. 3:9
                %sup.superscript-top 5-6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 5:20
                %sup.superscript-top 1
            %h3 Reconciliation:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 5:10
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 2:16
                %sup.superscript-top 1-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 2:18
                %sup.superscript-top 1-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Col. 1:20
                %sup.superscript-top 1-5
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Cor. 5:20
                %sup.superscript-top 2
            %h3 Regeneration:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 3:2
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 3:3
                %sup.superscript-top 1, 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 3:5
                %sup.superscript-top 2
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 3:6
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 3:14
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 3:30
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Gal. 3:2
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Titus 3:5
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 1:3
                %sup.superscript-top 4, 7
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 1:23
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 1:24
                %sup.superscript-top 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 2:29
                %sup.superscript-top 7
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 3:9
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 4:7
                %sup.superscript-top 4-5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 5:1
                %sup.superscript-top 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 5:4
                %sup.superscript-top 1-3, 5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 John 5:19
                %sup.superscript-top 1
            %h3
              Sanctification:
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Thes. 2:13
                %sup.superscript-top 3
            %h3
              Sanctification: (Before believing)
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 1:2
                %sup.superscript-top 5
            %h3
              Sanctification: (At the time we were saved)
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 13:12
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 6:11
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 1:2
                %sup.superscript-top 4-6
            %h3
              Sanctification: (After believing)
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 6:19
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 6:22
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Acts 26:18
                %sup.superscript-top 7
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Thes. 5:23
                %sup.superscript-top 1-5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 2:11
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 5:26
                %sup.superscript-top 1-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 17:17
                %sup.superscript-top 1-2
            %h3 Renewing:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 12:2
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Cor. 4:16
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 4:23
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Col. 3:10
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Titus 3:5
                %sup.superscript-top 4
            %h3 Transformation:
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 12:2
                %sup.superscript-top 3-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Cor. 3:18
                %sup.superscript-top 1, 3-10
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rev. 2:17
                %sup.superscript-top 3-4
            %h3 Conformation:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:28
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:29
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Phil. 3:10
                %sup.superscript-top 2-4
            %h3 Glorification, transfiguration:
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 2:10
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Phil. 3:21
                %sup.superscript-top 1-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Thes. 1:10
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:30
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:17
                %sup.superscript-top 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:11
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Three stages, two sections
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 1:5
                %sup.superscript-top 5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 5:10
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Luke 15:23
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Daily, constant salvation
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 5:10
                %sup.superscript-top 3-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Phil. 1:19
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Phil. 2:5
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Phil. 2:12
                %sup.superscript-top 3-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Phil. 2:16
                %sup.superscript-top 2
            .hr
