= render partial: 'shared/header', locals: { back: "true", title: "The Economy Of God" }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic His will and good pleasure
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5509" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:9
                %sup.superscript-top 2-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5499" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:5
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8810" , style:"color:gray !important;", :target => "_blank"}
                Rev. 4:11
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4018" , style:"color:gray !important;", :target => "_blank"}
                Rom. 12:2
                %sup.superscript-top 6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6014" , style:"color:gray !important;", :target => "_blank"}
                Phil. 2:13
                %sup.superscript-top 6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6192" , style:"color:gray !important;", :target => "_blank"}
                Col. 1:9
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6194" , style:"color:gray !important;", :target => "_blank"}
                Col. 1:10
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic His hidden mystery
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1291" , style:"color:gray !important;", :target => "_blank"}
                Mark 4:11
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5509" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:9
                %sup.superscript-top 2
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4107" , style:"color:gray !important;", :target => "_blank"}
                Rom. 16:25
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6250" , style:"color:gray !important;", :target => "_blank"}
                Col. 2:2
                %sup.superscript-top 5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6237" , style:"color:gray !important;", :target => "_blank"}
                Col. 1:27
                %sup.superscript-top 1-3, 5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=636" , style:"color:gray !important;", :target => "_blank"}
                Matt. 16:18
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5651" , style:"color:gray !important;", :target => "_blank"}
                Eph. 3:3
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5652" , style:"color:gray !important;", :target => "_blank"}
                Eph. 3:4
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5666" , style:"color:gray !important;", :target => "_blank"}
                Eph. 3:9
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5853" , style:"color:gray !important;", :target => "_blank"}
                Eph. 5:32
                %sup.superscript-top 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8937" , style:"color:gray !important;", :target => "_blank"}
                Rev. 10:7
                %sup.superscript-top 2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic His household administration
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5512" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:10
                %sup.superscript-top 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6596" , style:"color:gray !important;", :target => "_blank"}
                1 Tim. 1:4
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5649" , style:"color:gray !important;", :target => "_blank"}
                Eph. 3:2
                %sup.superscript-top 2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic His divine dispensing
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2673" , style:"color:gray !important;", :target => "_blank"}
                John 14:7
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5485" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:3
                %sup.superscript-top 6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5555" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:23
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5695" , style:"color:gray !important;", :target => "_blank"}
                Eph. 3:19
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3905" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:9
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3918" , style:"color:gray !important;", :target => "_blank"}
                Rom. 8:11
                %sup.superscript-top 2-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4237" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 4:1
                %sup.superscript-top 4
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4110" , style:"color:gray !important;", :target => "_blank"}
                Rom. 16:27
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9298" , style:"color:gray !important;", :target => "_blank"}
                Rev. 22:1
                %sup.superscript-top 5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Cor. 13:14
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic In faith
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7420" , style:"color:gray !important;", :target => "_blank"}
                Heb. 11:1
                %sup.superscript-top 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6596" , style:"color:gray !important;", :target => "_blank"}
                1 Tim. 1:4
                %sup.superscript-top 3-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5238" , style:"color:gray !important;", :target => "_blank"}
                Gal. 1:23
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5257" , style:"color:gray !important;", :target => "_blank"}
                Gal. 2:16
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5270" , style:"color:gray !important;", :target => "_blank"}
                Gal. 2:20
                %sup.superscript-top 5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5280" , style:"color:gray !important;", :target => "_blank"}
                Gal. 3:2
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5288" , style:"color:gray !important;", :target => "_blank"}
                Gal. 3:6
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5325" , style:"color:gray !important;", :target => "_blank"}
                Gal. 3:26
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5412" , style:"color:gray !important;", :target => "_blank"}
                Gal. 5:6
                %sup.superscript-top 2-3
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3737 " , style:"color:gray !important;", :target => "_blank"}
                Rom. 3:22
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6073" , style:"color:gray !important;", :target => "_blank"}
                Phil. 3:9
                %sup.superscript-top 4, 6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7459" , style:"color:gray !important;", :target => "_blank"}
                Heb. 12:2
                %sup.superscript-top 2-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7972" , style:"color:gray !important;", :target => "_blank"}
                2 Pet. 1:1
                %sup.superscript-top 4-5
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Revealed in our spirit
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5654" , style:"color:gray !important;", :target => "_blank"}
                Eph. 3:5
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5533" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:17
                %sup.superscript-top 3-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5535" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:18
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6193" , style:"color:gray !important;", :target => "_blank"}
                Col. 1:9
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4181" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 2:10
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4193" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 2:14
                %sup.superscript-top 6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4194" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 2:15
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8652" , style:"color:gray !important;", :target => "_blank"}
                Rev. 1:10
                %sup.superscript-top 1
            .hr




