= render partial: 'shared/header', locals: { back: "true", title: "The word of god" }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The written Word
        .accordion-item-content
          .block
            %h3.unit-sub-sub-topic Essence:
            %h4.highlight-verse
              %a{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966"}
                2 Tim. 3:16
                %sup 2

            %h4.verse-gap
              Titus 3:5
              %sup 5

            %h3.unit-sub-sub-topic Origin:
            %h4
              2 Pet. 1:20
              %sup 2

            %h4.verse-gap
              2 Pet. 21
              %sup 1-2

            %h4.verse-gap
              Heb. 1:1
              %sup 1

            %h4.verse-gap
              Heb. 2
              %sup 2

            %h4.verse-gap
              1 Thes. 2:13
              %sup 2

            %h4.verse-gap
              Rev. 22:6
              %sup 3

            %h3.unit-sub-sub-topic Content:
            %h4.highlight-verse
              Matt. 1:1
              %sup 1
              (para. 1-2)

            %h4.verse-gap
              Luke 24:44
              %sup 2

            %h4.verse-gap
              John 17:17
              %sup 1-3

            %h4.verse-gap
              Phil. 2:16
              %sup 2

            %h4.verse-gap
              1 Thes. 1:6
              %sup 2
            %hr

      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The spoken word
        .accordion-item-content
          .block
            %h4.highlight-verse
              John 6:63
              %sup 3

            %h4.highlight-verse.verse-gap
              Heb. 1:3
              %sup 2

            %h4.verse-gap
              Matt. 4:4
              %sup 4

            %h4.verse-gap
              Eph. 5:26
              %sup 4

            %h4.verse-gap
              Eph. 6:17
              %sup 4

            %h4.verse-gap
              Heb. 6:5
              %sup 1
            %hr

      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The living Word
        .accordion-item-content
          .block
            %h4.highlight-verse
              1 John 1:1
              %sup 5

            %h4.verse-gap
              John 1:1
              %sup 2-5

            %h4.verse-gap
              John 14
              %sup 1,3

            %h4.verse-gap
              Rev. 19:13
              %sup 2

            %h4.verse-gap
              Rom. 10:8
              %sup 1
            %hr

      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The functions of the Word
        .accordion-item-content
          .block
            %h3.unit-sub-sub-topic Testifying concerning the Lord Jesus:
            %h4
              John 5:39
              %sup 1

            %h4.verse-gap
              Luke 24:44
              %sup 1

            %h3.unit-sub-sub-topic Making men wise unto salvation:
            %h4
              2 Tim. 3:15
              %sup 1

            %h3.unit-sub-sub-topic Causing men to be regenerated:
            %h4
              1 Peter 1:23
              %sup 2

            %h3.unit-sub-sub-topic Being the believers’ spiritual milk:
            %h4
              1 Peter 2:2
              %sup 1-4

            %h4.verse-gap
              Heb. 5:12
              %sup 3

            %h3.unit-sub-sub-topic Being the believers’ bread of life:
            %h4
              1 Matt. 4:4
              %sup 3

            %h4.verse-gap
              1 Tim. 4:6
              %sup 2,4

            %h3.unit-sub-sub-topic Making the believers complete:
            %h4
              2 Tim. 3:16
              %sup 1, 3-5

            %h4.verse-gap
              2 Tim. 17
              %sup 2-3

            %hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Receiving the Word
        .accordion-item-content
          .block
            %h3.unit-sub-sub-topic With understanding:
            %h4
              Luke 24:45
              %sup 1

            %h3.unit-sub-sub-topic With a spirit of wisdom and revelation:
            %h4
              Eph. 1:17
              %sup 3-4

            %h4.verse-gap
              Eph. 3:5
              %sup 3

            %h3.unit-sub-sub-topic By praying in spirit:
            %h4
              Eph. 6:18
              %sup 1,3

            %h3.unit-sub-sub-topic By singing:
            %h4
              Col. 3:16
              %sup 5,7
            %hr
