= render partial: 'shared/header', locals: { back: 'true', title: 'THE KINGDOM', icon: 'logo-mark.svg' }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The kingdom of God
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1190" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Mark 1:15
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1289" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 4:3
                %sup.footnote 1-2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1291" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 4:11
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1299" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 4:26
                %sup.footnote 1, 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1801" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Luke 4:43
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2418" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 3:3
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2849" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Acts 1:3
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3651" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Acts 28:31
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4058" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 14:17
                %sup.footnote 1-2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4060" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 14:18
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6415" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Thes. 2:12
                %sup.footnote 2-3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8026" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Pet. 1:11
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8641" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Rev. 1:6
                %sup.footnote 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The kingdom of the heavens
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=131" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Matt. 5:3
                %sup.footnote 4
                &nbsp; & chart on pp. 30-31
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=643" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 16:19
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=948" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 24:46
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=949" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 24:47
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=69" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 3:2
                %sup.footnote 2-3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=170" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 5:20
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=548" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 13:43
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=544" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 13:41
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9205" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rev. 20:4
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9211" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rev. 20:6
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=255" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 6:33
                %sup.footnote 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The kingdom reward
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7413" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Heb. 10:35
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4206" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 3:8
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4217" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 3:14
                %sup.footnote 1-2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4219" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 3:15
                %sup.footnote 1-4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9321" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rev. 22:12
                %sup.footnote 1-2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4918" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Cor. 5:10
                %sup.footnote 2-4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=659" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 16:27
                %sup.footnote 1-2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1004" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 25:21
                %sup.footnote 1-4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1008" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 25:23
                %sup.footnote 1-2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4391" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 9:17
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4398" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 9:24
                %sup.footnote 1-2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4401" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 9:25
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4405" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 9:27
                %sup.footnote 4-5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6080" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Phil. 3:11
                %sup.footnote 1-2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6095" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Phil. 3:14
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6991" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Tim. 4:7
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6993" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Tim. 4:8
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7003" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Tim. 4:18
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7444" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 11:26
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7448" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 11:35
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7457" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 12:1
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7489" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Heb. 12:28
                %sup.footnote 1
            .hr
