= render partial: 'shared/header', locals: { back: 'true', title: 'THE WORD OF GOD', icon: 'logo-mark.svg' }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The written Word
        .accordion-item-content
          .block
            %h3 Essence:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                2 Tim. 3:16
                %sup.superscript-top 2

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7108" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Titus 3:5
                %sup.superscript-top 5

            %h3 Origin:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8045" , style:"color:gray !important;" , :target => "_blank"}
              %h4
                2 Pet. 1:20
                %sup.superscript-top 2

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8046" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Pet. 1:21
                %sup.superscript-top 1

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8047" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 2

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7170" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 1:1
                %sup.superscript-top 1

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7173" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 1:2
                %sup.superscript-top 2

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6418" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Thes. 2:13
                %sup.superscript-top 2

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9317" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rev. 22:6
                %sup.superscript-top 3

            %h3.unit-sub-sub-topic Content:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Matt. 1:1
                %sup.superscript-top 1
                &nbsp;
                (para. 1-2)

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2344" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Luke 24:44
                %sup.superscript-top 2

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2745" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 17:17
                %sup.superscript-top 1

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2746" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 2

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2747" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 3

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6023" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Phil. 2:16
                %sup.superscript-top 2

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6389" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Thes. 1:6
                %sup.superscript-top 2
            .hr

      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The spoken Word
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2537" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                John 6:63
                %sup.superscript-top 3

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7178" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Heb. 1:3
                %sup.superscript-top 2

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=98" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 4:4
                %sup.superscript-top 4

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5844" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 5:26
                %sup.superscript-top 4

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5901" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 6:17
                %sup.superscript-top 4

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7286" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 6:5
                %sup.superscript-top 1
            .hr

      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The living Word
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8169" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                1 John 1:1
                %sup.superscript-top 5

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2354" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 1:1
                %sup.superscript-top 2

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2355" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 3

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2356" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 4

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2357" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 5

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2368" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 1:14
                %sup.superscript-top 1

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2369" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 2

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2370" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 3

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9191" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rev. 19:13
                %sup.superscript-top 2

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3982" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 10:8
                %sup.superscript-top 1
            .hr

      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The functions of the Word
        .accordion-item-content
          .block
            %h3.unit-sub-sub-topic Testifying concerning the Lord Jesus:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2502" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 5:39
                %sup.superscript-top 1

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2344" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Luke 24:44
                %sup.superscript-top 1

            %h3.unit-sub-sub-topic Making men wise unto salvation:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6963" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Tim. 3:15
                %sup.superscript-top 1

            %h3.unit-sub-sub-topic Causing men to be regenerated:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7762" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Peter 1:23
                %sup.superscript-top 2

            %h3.unit-sub-sub-topic Being the believers’ spiritual milk:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7769" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Peter 2:2
                %sup.superscript-top 1

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7770" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 2

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7771" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 3

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7772" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 4

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7273" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 5:12
                %sup.superscript-top 3

            %h3.unit-sub-sub-topic Being the believers’ bread of life:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=97" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Matt. 4:4
                %sup.superscript-top 3

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6738" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Tim. 4:6
                %sup.superscript-top 2

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6740" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 4

            %h3.unit-sub-sub-topic Making the believers complete:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6965" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Tim. 3:16
                %sup.superscript-top 1

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6967" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 3

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6968" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 4

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6969" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 5

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6971" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Tim. 3:17
                %sup.superscript-top 2

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6972" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 3

            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#", :target => "_blank"}
          .item-inner
            .item-title.sub-topic Receiving the Word
        .accordion-item-content
          .block
            %h3.unit-sub-sub-topic With understanding:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2345" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Luke 24:45
                %sup.superscript-top 1

            %h3.unit-sub-sub-topic With a spirit of wisdom and revelation:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5533" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:17
                %sup.superscript-top 3

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5534" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 4

            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5654" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 3:5
                %sup.superscript-top 3

            %h3.unit-sub-sub-topic By praying in spirit:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5902" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 6:18
                %sup.superscript-top 1

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5904" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 3

            %h3.unit-sub-sub-topic By singing:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6358" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Col. 3:16
                %sup.superscript-top 5

            %a.link.external.separete-script{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6360" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.superscript-top 7
            .hr

