= render partial: 'shared/header', locals: { back: "true", title: "The Church - The Body of Christ" }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title A called-out congregation
        .accordion-item-content
          .block
            %h4
              Matt. 16:18
              %sup 5
            %h4
              Eph. 1:22
              %sup 4
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title The church of God
        .accordion-item-content
          .block
            %h4
              1 Cor. 1:2
              %sup 1
            %h4
              1 Tim. 3:15
              %sup 3
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title The house of God
        .accordion-item-content
          .block
            %h4
              1 Tim. 3:15
              %sup 2
            %h4
              1 Pet. 2:5
              %sup 4
            %h4
              Eph. 2:19
              %sup 4
            %h4
              Eph. 2:20
              %sup 1-2
            %h4
              Eph. 2:21
              %sup 1, 4
            %h4
              Eph. 2:22
              %sup 4
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title The Body of Christ
        .accordion-item-content
          .block
            %h4
              Rom. 12:5
              %sup 1-2
            %h4
              Eph. 1:23
              %sup 1-3
            %h4
              Eph. 4:4
              %sup 1
            %h4
              Eph. 4:16
              %sup 1-9
            %h4
              1 Cor. 10:17
              %sup 1
            %h4
              1 Cor. 11:29
              %sup 3
            %h4
              1 Cor. 12:13
              %sup 2
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title The corporate Christ
        .accordion-item-content
          .block
            %h4
              1 Cor. 12:12
              %sup 2
            %h4
              Acts 9:4
              %sup 1
            %h4
              Rom. 1:1
              %sup 3
            %h4
              Matt. 9:17
              %sup 3
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title The new man
        .accordion-item-content
          .block
            %h4
              Gal. 3:28
              %sup 5
            %h4
              Eph. 2:15
              %sup 5-9
            %h4
              Eph. 4:24
              %sup 2
            %h4
              Col. 3:10
              %sup 2
            %h4
              Col. 3:11
              %sup 9-10
            %h4
              Col. 4:7
              %sup 1
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title The bride of Christ
        .accordion-item-content
          .block
            %h4
              John 3:30
              %sup 1
            %h4
              2 Cor. 11:2
              %sup 2
            %h4
              2 Cor. 11:3
              %sup 2
            %h4
              Eph. 5:25
              %sup 1
            %h4
              Eph. 5:26
              %sup 1
            %h4
              Eph. 5:27
              %sup 1-3
            %h4
              Eph. 5:32
              %sup 1
            %h4
              Rev. 19:7
              %sup 1-2
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title The golden lampstands
        .accordion-item-content
          .block
            %h4
              Rev. 1:12
              %sup 1-3
            %h4
              Rev. 1:13
              %sup 1
            %h4
              Rev. 1:20
              %sup 1
              (para. 2)
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title The local churches
        .accordion-item-content
          .block
            %h4
              Rom. 16:4
              %sup 3
            %h4
              Titus 1:5
              %sup 1
            %h4
              Acts 14:23
              %sup 2
            %h4
              Rev. 1:11
              %sup 1
            %h4
              Rev. 1:4
              %sup 2
            %h4
              Acts 8:1
              %sup 1
            %h4
              Phil. 1:1
              %sup 2
            %h4
              1 Cor. 1:2
              %sup 2
            %h4
              Matt. 18:17
              %sup 2
            %h4
              Rom. 16:1
              %sup 2
              (para. 2)
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title The unique oneness of the church
        .accordion-item-content
          .block
            %h4
              John 17:11
              %sup 1-2
            %h4
              John 17:21
              %sup 1
            %h4
              John 17:22
              %sup 1-2
            %h4
              John 17:23
              %sup 1
            %h4
              Eph. 4:3
              %sup 1-3
            %h4
              Eph. 4:4
              %sup 1
            %h4
              Eph. 4:6
              %sup 3
            %h4
              Eph. 4:13
              %sup 1-5
            %h4
              Eph. 4:14
              %sup 5
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title Meetings
        .accordion-item-content
          .block
            %h4
              Matt. 18:20
              %sup 2
            %h4
              John 20:19
              %sup 1
            %h4
              John 20:20
              %sup 1
            %h4
              John 20:24
              %sup 2
            %h4
              Acts 2:42
              %sup 1
            %h4
              Acts 2:46
              %sup 3
            %h4
              Acts 2:47
              %sup 2
            %h4
              Acts 20:7
              %sup 1
            %h4
              1 Cor. 14:1
              %sup 3
            %h4
              1 Cor. 14:16
              %sup 2
            %h4
              1 Cor. 14:17
              %sup 1
            %h4
              1 Cor. 14:24
              %sup 1
            %h4
              1 Cor. 14:25
              %sup 1
            %h4
              1 Cor. 14:26
              %sup 1-2
            %h4
              1 Cor. 14:32
              %sup 1
            %h4
              Heb. 2:12
              %sup 3
            %h4
              Heb. 10:25
              %sup 1-2
            %h4
              Heb. 13:15
              %sup 1
