= render partial: 'shared/header', locals: { back: "true", title: "The Kingdom" }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The kingdom of God
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Mark 1:15
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Mark 4:3
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Mark 4:11
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Mark 4:26
                %sup.superscript-top 1, 3
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Luke 4:43
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 3:3
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Acts 1:3
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Acts 28:31
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 14:17
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 14:18
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Thes. 2:12
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Pet. 1:11
                %sup.superscript-top 1
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rev. 1:6
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The kingdom of the heavens
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 5:3
                %sup.superscript-top 4
                &nbsp; & chart on pp. 30-31
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 16:19
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 24:46
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 24:47
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 3:2
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 5:20
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 13:43
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 13:41
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rev. 20:4
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rev. 20:6
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 6:33
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The kingdom reward
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 10:35
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 3:8
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 3:14
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 3:15
                %sup.superscript-top 1-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rev. 22:12
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Cor. 5:10
                %sup.superscript-top 2-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 16:27
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 25:21
                %sup.superscript-top 1-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 25:23
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 9:17
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 9:24
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 9:25
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 9:27
                %sup.superscript-top 4-5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Phil. 3:11
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Phil. 3:14
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Tim. 4:7
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Tim. 4:8
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Tim. 4:18
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 11:26
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 11:35
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 12:1
                %sup.superscript-top 5
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 12:28
                %sup.superscript-top 1
            .hr
