= render partial: 'shared/header', locals: { back: 'true', title: 'THE ECONOMY OF GOD', icon: 'logo-mark.svg' }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic His will and good pleasure
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5509" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:9
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5510" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5511" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5499" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:5
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8810" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rev. 4:11
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4018" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 12:2
                %sup.footnote 6
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6014" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Phil. 2:13
                %sup.footnote 6
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6192" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Col. 1:9
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6194" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Col. 1:10
                %sup.footnote 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic His hidden mystery
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1291" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 4:11
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5509" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:9
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4107" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Rom. 16:25
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6250" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Col. 2:2
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6237" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Col. 1:27
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6238" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6239" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6241" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=636" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 16:18
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5651" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 3:3
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5652" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 3:4
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5666" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 3:9
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5853" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 5:32
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8937" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Rev. 10:7
                %sup.footnote 2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic His household administration
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5512" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:10
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6596" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                1 Tim. 1:4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5649" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 3:2
                %sup.footnote 2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic His divine dispensing
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2673" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                John 14:7
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5485" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:3
                %sup.footnote 6
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5555" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:23
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5695" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 3:19
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3905" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 8:9
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3906" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3918" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 8:11
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3919" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3920" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4237" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 4:1
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4110" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Rom. 16:27
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9298" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rev. 22:1
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Cor. 13:14
                %sup.footnote 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic In faith
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7420" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 11:1
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6596" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                1 Tim. 1:4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6597" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5238" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 1:23
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5257" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 2:16
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5270" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 2:20
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5280" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 3:2
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5288" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 3:6
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5325" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 3:26
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5412" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 5:6
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5413" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3737 " , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Rom. 3:22
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6073" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Phil. 3:9
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6075" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 6
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7459" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 12:2
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7460" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7461" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7972" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Pet. 1:1
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7973" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 5
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Revealed in our spirit
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5654" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 3:5
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5533" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:17
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5534" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5535" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:18
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5536" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6193" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Col. 1:9
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4181" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 2:10
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4182" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4183" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4193" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 2:14
                %sup.footnote 6
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4194" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 2:15
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8652" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rev. 1:10
                %sup.footnote 1
            .hr




