= render partial: 'shared/header', locals: { back: 'true', title: 'THE GOSPEL', icon: 'logo-mark.svg' }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Good news, glad tidings
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1155" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 1:1
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1188" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 1:14
                %sup.footnote 2-3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3660" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 1:1
                %sup.footnote 9
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3662" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 1:2
                %sup.footnote 2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Of Jesus Christ, the Son of God
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1193" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Mark 1:15
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1156" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 1:1
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3664" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 1:3
                %sup.footnote 1,5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5228" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 1:16
                %sup.footnote 4
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Of the kingdom
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1800" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Luke 4:43
                %sup.footnote 1–2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1190" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Mark 1:15
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1289" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 4:3
                %sup.footnote 1-2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1299" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 4:26
                %sup.footnote 1,3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=123" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 4:23
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=892" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Matt. 24:14
                %sup.footnote 1-2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Its main points, focus, and blessing
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2714" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 16:8
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4628" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 15:3
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5664" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 3:8
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6889" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Tim. 2:8
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3660" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 1:1
                %sup.footnote 9
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3678" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 1:5
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4106" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 16:25
                %sup.footnote 2-3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5212" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Gal. 1:6
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5302" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 3:14
                %sup.footnote 2-3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5372" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 4:19
                %sup.footnote 3
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The power of God unto salvation
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3687" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 1:16
                %sup.footnote 1-2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3689" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 1:17
                %sup.footnote 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Received by repenting, believing, and calling on the Lord
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1191" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 1:15
                %sup.footnote 2-3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3677" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 1:5
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/bibleverses.asp?fvid=5052&lvid=5052" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 10:8
                %sup.footnote 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Gospel service or priesthood
        .accordion-item-content
          .block
            %h3 Of Jesus:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1215" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 1:40
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1222" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 2:1
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1290" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Mark 4:3
                %sup.footnote 2
            %h3 Of Paul:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4073" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 15:16
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4258" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 4:15
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6398" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Thes. 2:1
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6408" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Thes. 2:8
                %sup.footnote 1-2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6411" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Thes. 2:11
                %sup.footnote 1-2
            %h3 Of the believers:
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7798" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Pet. 2:9
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7785" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Pet. 2:5
                %sup.footnote 8
            .hr