= render partial: 'shared/header', locals: { back: "true", title: "The Church - The Body of Christ" }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic A called-out congregation
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 16:18
                %sup.superscript-top 5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:22
                %sup.superscript-top 4
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The church of God
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 1:2
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Tim. 3:15
                %sup.superscript-top 3
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The house of God
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Tim. 3:15
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 2:5
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 2:19
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 2:20
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 2:21
                %sup.superscript-top 1, 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 2:22
                %sup.superscript-top 4
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The Body of Christ
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 12:5
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 1:23
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 4:4
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 4:16
                %sup.superscript-top 1-9
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 10:17
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 11:29
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 12:13
                %sup.superscript-top 2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The corporate Christ
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 12:12
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Acts 9:4
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:1
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 9:17
                %sup.superscript-top 3
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The new man
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Gal. 3:28
                %sup.superscript-top 5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 2:15
                %sup.superscript-top 5-9
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 4:24
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Col. 3:10
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Col. 3:11
                %sup.superscript-top 9-10
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Col. 4:7
                %sup.superscript-top 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The bride of Christ
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 3:30
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Cor. 11:2
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                2 Cor. 11:3
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 5:25
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 5:26
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 5:27
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 5:32
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rev. 19:7
                %sup.superscript-top 1-2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The golden lampstands
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rev. 1:12
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rev. 1:13
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rev. 1:20
                %sup.superscript-top 1
                &nbsp;(para. 2)
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The local churches
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 16:4
                %sup.superscript-top 3
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Titus 1:5
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Acts 14:23
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rev. 1:11
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rev. 1:4
                %sup.superscript-top 2
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Acts 8:1
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Phil. 1:1
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 1:2
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 18:17
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Rom. 16:1
                %sup.superscript-top 2
                (para. 2)
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The unique oneness of the church
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 17:11
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 17:21
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 17:22
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 17:23
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 4:3
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 4:4
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 4:6
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 4:13
                %sup.superscript-top 1-5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Eph. 4:14
                %sup.superscript-top 5
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Meetings
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Matt. 18:20
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 20:19
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 20:20
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                John 20:24
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Acts 2:42
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Acts 2:46
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Acts 2:47
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Acts 20:7
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 14:1
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 14:16
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 14:17
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 14:24
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 14:25
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 14:26
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 14:32
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 2:12
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 10:25
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5199" , style:"color:gray !important;", :target => "_blank"}
                Heb. 13:15
                %sup.superscript-top 1
            .hr
