= render partial: 'shared/header', locals: { back: "true", title: "The Gospel" }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Good news, glad tidings
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Mark 1:1
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Mark 1:14
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:1
                %sup.superscript-top 9
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:2
                %sup.superscript-top 2
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Of Jesus Christ, the Son of God
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Mark 1:15
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Mark 1:1
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:3
                %sup.superscript-top 1,5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Gal. 1:16
                %sup.superscript-top 4
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Of the kingdom
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Luke 4:43
                %sup.superscript-top 1–2
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Mark 1:15
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Mark 4:3
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Mark 4:26
                %sup.superscript-top 1,3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Matt. 4:23
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Matt. 24:14
                %sup.superscript-top 1-2
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Its main points, focus, and blessing
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                John 16:8
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 15:3
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Eph. 3:8
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                2 Tim. 2:8
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:1
                %sup.superscript-top 9
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:5
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 16:25
                %sup.superscript-top 2-3
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Gal. 1:6
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Gal. 3:14
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Gal. 4:19
                %sup.superscript-top 3
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The power of God unto salvation
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:16
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:17
                %sup.superscript-top 1
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Received by repenting, believing, and calling on the Lord
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Mark 1:15
                %sup.superscript-top 2-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 1:5
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 10:8
                %sup.superscript-top 1
                ='-'
                14
                %sup.superscript-top 1
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Gospel service or priesthood
        .accordion-item-content
          .block
            %h3 Of Jesus:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Mark 1:40
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Mark 2:1
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Mark 4:3
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Mark 4:14
                %sup.superscript-top 1
            %h3 Of Paul:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                Rom. 15:16
                %sup.superscript-top 3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Cor. 4:15
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Thes. 2:1
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Thes. 2:8
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Thes. 2:11
                %sup.superscript-top 1-2
            %h3 Of the believers:
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 2:9
                %sup.superscript-top 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6966" , style:"color:gray !important;", :target => "_blank"}
                1 Pet. 2:5
                %sup.superscript-top 8