= render partial: 'shared/header', locals: { back: "true", title: "The New Jerusalem" }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The New Jerusalem [1]
        .accordion-item-content
          .block
            %h4.highlight
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9237" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:2
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9240" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:3
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9250" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:9
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9280" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:22
                %sup.superscript-top 1-2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The New Jerusalem [2]
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7433" , style:"color:gray !important;", :target => "_blank"}
                Heb. 11:10
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5389" , style:"color:gray !important;", :target => "_blank"}
                Gal. 4:26
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9270" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:18
                %sup.superscript-top 1-3
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9274" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:19
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9276" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:21
                %sup.superscript-top 1, 3
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The New Jerusalem [3]
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9252" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:11
                %sup.superscript-top 1-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9256" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:12
                %sup.superscript-top 1-4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9260" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:13
                %sup.superscript-top 1
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9262" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:14
                %sup.superscript-top 2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9264" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:16
                %sup.superscript-top 1-2, 4
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9268" , style:"color:gray !important;", :target => "_blank"}
                Rev. 21:17
                %sup.superscript-top 1-2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The New Jerusalem [4]
        .accordion-item-content
          .block
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9295" , style:"color:gray !important;", :target => "_blank"}
                Rev. 22:1
                %sup.superscript-top 2-6
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9300" , style:"color:gray !important;", :target => "_blank"}
                Rev. 22:2
                %sup.superscript-top 1-2
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9325" , style:"color:gray !important;", :target => "_blank"}
                Rev. 22:14
                %sup.superscript-top 1-5
            %h4
              %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=9346" , style:"color:gray !important;", :target => "_blank"}
                Rev. 22:21
                %sup.superscript-top 3
            .hr
