= render partial: 'shared/header', locals: { back: 'true', title: 'THE BELIEVERS', icon: 'logo-mark.svg' }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Christians
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3203" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Acts 11:26
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7899" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Pet. 4:16
                %sup.footnote 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Saints
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5473" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 1:1
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5806" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Eph. 5:3
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4119" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 1:2
                %sup.footnote 6
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Children of God
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8308" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 3:1
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8312" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 3:2
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8304" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 2:29
                %sup.footnote 7
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3932" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 8:16
                %sup.footnote 3
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Sons of God
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3927" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Rom. 8:14
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3928" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 8:15
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5324" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 3:26
                %sup.footnote 1-2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5343" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 4:6
                %sup.footnote 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic Brothers of Christ
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2800" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                John 20:17
                %sup.footnote 2-3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3955" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 8:29
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7209" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 2:11
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7211" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 2:12
                %sup.footnote 1
            .hr
