= render partial: 'shared/header', locals: { back: 'true', title: 'THE SPIRIT', icon: 'logo-mark.svg' }
.page-content
  .list
    %ul
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The Holy Spirit
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2807" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                John 20:22
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=1651" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Luke 1:15
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2687" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 14:26
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2688" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2689" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2887" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Acts 2:4
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2946" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Acts 2:38
                %sup.footnote 7
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7108" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Titus 3:5
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7109" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Titus 3:6
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6467" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Thes. 4:8
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=7285" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Heb. 6:4
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=6870" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Tim. 1:14
                %sup.footnote 2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The Spirit of reality
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2679" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                John 14:17
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2680" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2681" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2710" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 15:26
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2715" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 16:13
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8443" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 John 5:6
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8444" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4181" , style:"color:gray !important;", :target => "_blank"}
              %h4
                1 Cor. 2:10
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4182" , style:"color:gray !important;", :target => "_blank"}
              %h4
                %sup.footnote 2
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The life-giving Spirit
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4674" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                1 Cor. 15:45
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4810" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Cor. 3:6
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2535" , style:"color:gray !important;", :target => "_blank"}
              %h4
                John 6:63
                %sup.footnote 1
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The Spirit of Jesus, of Christ, and of Jesus Christ
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3330" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Acts 16:7
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=3908" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rom. 8:9
                %sup.footnote 4
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5949" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Phil. 1:19
                %sup.footnote 4
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The Lord Spirit
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4845" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Cor. 3:18
                %sup.footnote 11
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The Spirit
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=2551" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                John 7:39
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=4832" , style:"color:gray !important;", :target => "_blank"}
              %h4
                2 Cor. 3:17
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5279" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 3:2
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5285" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 3:5
                %sup.footnote 2
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5303" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 3:14
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=5436" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Gal. 5:22
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8370" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                1 John 3:24
                %sup.footnote 4
            .hr
      %li.accordion-item
        %a.item-content.item-link{:href => "#"}
          .item-inner
            .item-title.sub-topic The seven Spirits of God
        .accordion-item-content
          .block
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8638" , style:"color:gray !important;", :target => "_blank"}
              %h4.highlight
                Rev. 1:4
                %sup.footnote 5
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8663" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rev. 1:14
                %sup.footnote 3
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8799" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rev. 4:5
                %sup.footnote 1
            %a.link.external{href:"http://online.recoveryversion.org/FootNotes.asp?FNtsID=8821" , style:"color:gray !important;", :target => "_blank"}
              %h4
                Rev. 5:6
                %sup.footnote 5
            .hr