.navbar
  .navbar-inner
    - if back == "true"
      .left
        %a.link.back{:href => "/"}
          %i.icon.icon-back{:style => ""}
        .title
          = "#{title}"
    - else
      .left
        = image_tag(icon, size: "35x25", alt: "book image", style:"margin-bottom: -5px;")
        .logo-header
          Bibles for America
