= render partial: 'shared/header', locals: { back: 'true', title: 'Companion to BECL', icon: 'logo-mark.svg'}
.page-content
  .block
    Please use the below links to view/download BECL (
    %span.italic Basic Elements of Christian Life
    ) Study Companions:
  .block-title{style:"font-weight:bolder;"} Pdf links
  .list
    %ul
      %li
        .item-content{style:"color:#2679b5;font-weight:bolder;"}
          %a.close-panel.item-link.item-inner.item-title.link.external{href:"/companion_pdf/2018_BECL_Vol_1_companion_FINAL.pdf" , class: "close-panel item-link", :target => "_blank"}
            %i.fa.fa-file-pdf-o.red
            &nbsp;
            Study Companion, Vol 1
            %i.fa.fa-external-link
      %li
        .item-content{style:"color:#2679b5;font-weight:bolder;"}
          %a.close-panel.item-link.item-inner.item-title.link.external{href:"/companion_pdf/2018_BECL_Vol_2_companion_FINAL.pdf" , class: "close-panel item-link", :target => "_blank"}
            %i.fa.fa-file-pdf-o.red
            &nbsp;
            Study Companion, Vol 2
            %i.fa.fa-external-link
      %li
        .item-content{style:"color:#2679b5;font-weight:bolder;"}
          %a.close-panel.item-link.item-inner.item-title.link.external{href:"/companion_pdf/2018_BECL_Vol_3_companion_FINAL.pdf" , class: "close-panel item-link", :target => "_blank"}
            %i.fa.fa-file-pdf-o.red
            &nbsp;
            Study Companion, Vol 3
            %i.fa.fa-external-link
