= render partial: 'shared/header', locals: { back: 'true', title: 'Companion to Basic Elements of the Christian Life', icon: 'study_companion.jpg'}
.page-content
  .block-title{style:"font-weight:bolder;"} Pdf links
  .list
    %ul
      %li
        .item-content{style:"color:#2679b5;font-weight:bolder;"}
          %a.close-panel.item-link.item-inner.item-title.link.external{href:"/companion_pdf/2018_BECL_Vol_1_companion_FINAL.pdf" , class: "close-panel item-link", :target => "_blank"}
            = image_tag('download_pdf.png', size: "35x25", alt: "book image", style:"margin-bottom: -5px;")
            &nbsp;
            Companion to the Christian Life, vol. 1
      %li
        .item-content{style:"color:#2679b5;font-weight:bolder;"}
          %a.close-panel.item-link.item-inner.item-title.link.external{href:"/companion_pdf/2018_BECL_Vol_2_companion_FINAL.pdf" , class: "close-panel item-link", :target => "_blank"}
            = image_tag('download_pdf.png', size: "35x25", alt: "book image", style:"margin-bottom: -5px;")
            &nbsp;
            Companion to the Christian Life, vol. 2
      %li
        .item-content{style:"color:#2679b5;font-weight:bolder;"}
          %a.close-panel.item-link.item-inner.item-title.link.external{href:"/companion_pdf/2018_BECL_Vol_3_companion_FINAL.pdf" , class: "close-panel item-link", :target => "_blank"}
            = image_tag('download_pdf.png', size: "35x25", alt: "book image", style:"margin-bottom: -5px;")
            &nbsp;
            Companion to the Christian Life, vol. 3
