.page.page-current
  .page-content
    .left
      %h1 DIVINE TRUTH —REALITY
      %h2
        All the realities of the divine economy
      %h4
        1 John 1:6
        %sup 6
        1 John 1:8
        %sup 3
        ;
        1 Tim. 2:4
        %sup 2
        ;
        3:15
        %sup 5
        ;
        2 Tim. 2:15
        %sup 2
        , 25
        %sup 1
        ;
        Titus 1:1
        %sup 3
      %h2
        The divine reality embodied, revealed, and expressed in Christ
      %h4
        John 18:37
        %sup 1
        ;
        1:14
        %sup 6
        ;
        14:6
        %sup 2
        ;
        Eph.4:21
        %sup 1
      %h2 The reality which is the Spirit
      %h4
        John 14:17
        %sup 1
        ,26
        %sup 1
        ;
        15:26
        %sup 1
        ;
        16:13
        %sup 1
        ;
        1 John 5:6
        %sup 4-5
      %h2 The substance of God’s word
      %h4
        John 17:17
        %sup 2-3
        ;
        Col. 1:5
        %sup 3
        ;
        2 Cor. 4:2
        %sup 2
      %h2
        The truth which we must hold to, obey, and walk in
      %h4
        Eph. 4:15
        %sup 1
        ;
        1 Pet. 1:22
        %sup 2-3
        ;
        3 John 3
        %sup 2-3
      %h2 The reality in our living
      %h4
        John 4:24
        %sup 5
        ;
        Eph. 6:14
        %sup 3
        ;
        1 John 1:6
        %sup 6
        pt. 7
        ;
        2 John 1
        %sup 3
        , 13
        %sup 1
      %h2 **************************************************************************