= render partial: 'shared/header', locals: { back: 'true', title: 'Download BECL Books', icon: 'logo-mark.svg'}
.page-content
  .block-title{style:"font-weight:bolder;"} Downloads Book
  .list
    %ul
      %li
        .item-content{style:"color:#2679b5;font-weight:bolder;"}
          %a.close-panel.item-link.item-inner.item-title.link{href:"/home/popup" , class: "close-panel item-link"}
            %i.fa.fa-file-pdf-o
            &nbsp;
            Basic Elements of the Christian Life, vol. 1
            &nbsp;
            %i.fa.fa-arrow-right
      %li
        .item-content{style:"color:#2679b5;font-weight:bolder;"}
          %a.close-panel.item-link.item-inner.item-title.link{href:"/home/popup" , class: "close-panel item-link"}
            %i.fa.fa-file-pdf-o
            &nbsp;
            Basic Elements of the Christian Life, vol. 2
            &nbsp;
            %i.fa.fa-arrow-right
      %li
        .item-content{style:"color:#2679b5;font-weight:bolder;"}
          %a.close-panel.item-link.item-inner.item-title.link{href:"/home/popup" , class: "close-panel item-link"}
            %i.fa.fa-file-pdf-o
            &nbsp;
            Basic Elements of the Christian Life, vol. 3
            &nbsp;
            %i.fa.fa-arrow-right
