= render partial: 'shared/header', locals: { back: 'true', title: 'Download BECL Books', icon: 'logo-mark.svg'}
.page-content
  .block
    Please use the below links to download/view the original BECL
    %span.italic (Basic Elements of Christian Life)
    books:
  .block-title.topic DOWNLOAD PDF BOOKS
  .list
    %ul
      %li
        .item-content.list-item
          %a.close-panel.item-link.item-inner.item-title.link{href:"/home/popup?book=1" , class: "close-panel item-link"}
            %i.fa.fa-file-pdf-o.red
            &nbsp;
            BECL Book, Vol 1
            %i.fa.fa-external-link
      %li
        .item-content.list-item
          %a.close-panel.item-link.item-inner.item-title.link{href:"/home/popup?book=2" , class: "close-panel item-link"}
            %i.fa.fa-file-pdf-o.red
            &nbsp;
            BECL Book, Vol 2
            %i.fa.fa-external-link
      %li
        .item-content.list-item
          %a.close-panel.item-link.item-inner.item-title.link{href:"/home/popup?book=3" , class: "close-panel item-link"}
            %i.fa.fa-file-pdf-o.red
            &nbsp;
            BECL Book, Vol 3
            %i.fa.fa-external-link
