= render partial: 'shared/header', locals: { back: 'true', title: 'Download BECL Books', icon: 'logo-mark.svg'}
.page-content
  .block
    Use the links below to view/download each volume of
    %span.italic Basic Elements of Christian Life
  .block-title.topic DOWNLOAD FREE BOOKS
  .list
    %ul
      %li
        .item-content.list-item
          %a.close-panel.item-link.item-inner.item-title.link{href:"/home/popup?book=1" , class: "close-panel item-link"}
            %i.fa.fa-file-pdf-o.red
            &nbsp;
            Basic Elements, vol. 1
            %i.fa.fa-external-link
      %li
        .item-content.list-item
          %a.close-panel.item-link.item-inner.item-title.link{href:"/home/popup?book=2" , class: "close-panel item-link"}
            %i.fa.fa-file-pdf-o.red
            &nbsp;
            Basic Elements, vol. 2
            %i.fa.fa-external-link
      %li
        .item-content.list-item
          %a.close-panel.item-link.item-inner.item-title.link{href:"/home/popup?book=3" , class: "close-panel item-link"}
            %i.fa.fa-file-pdf-o.red
            &nbsp;
            Basic Elements, vol. 3
            %i.fa.fa-external-link
