.navbar
  .navbar-inner
    .left
      %a.link.icon-only.open-panel{:href => "#"}
        %i.icon.icon-bars-blue
    .center
      Topics
.page
  .page-content
    .list-block.media-list
      %ul
        %li.accordion-item
          %a.item-content.item-link.external{:href => "/home/pages/eternal_life", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title THE WORD OF GOD
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title GOD
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title THE ECONOMY OF GOD
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title CHRIST
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title THE SPIRIT
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title ETERNAL LIFE
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title DIVINE TRUTH—REALITY
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title MAN
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title THE GOSPEL
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title SALVATION
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title CHRISTIAN EXPERIENCE
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title THE BELIEVERS
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title THE CHURCH—THE BODY OF CHRIST
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title THE KINGDOM
        %li.accordion-item
          %a.item-content.item-link.external{:href => "#", style:"color:Orange;font-weight:bolder;"}
            .item-inner
              .item-title THE NEW JERUSALEM
        %li.accordion-item
          %a.item-content.item-link{:href => "#"}
            .item-inner
              .item-title{style:"color:Orange;font-weight:bolder;"} Man
