= render partial: 'shared/header', locals: { back: 'true', title: 'BfA Study Companion', icon: 'logo-mark.svg' }
.page
  .page-content
    .block These e-books are generously made available for free by the publisher, Living Stream Ministry. They ask that you agree to their distribution policy before downloading.
    .block-title THE PUBLISHER'S DISTRIBUTION POLICY
    .block
      Living Stream Ministry is pleased to make the electronic versions of free books freely available. We hope many would read through all these books and feel free to refer others to them. We ask for the sake of good order that printings of these files be limited to your own personal use. Please do not repost these files elsewhere in any form. If you desire to duplicate copies beyond this, please send a detailed written explanation of intended use and a request for permission to mmb.permissions@lsm.org. We also request that all copyright notices be respected according to applicable law. These PDF files are not to be modified or disassembled in any way for any other use.
      Living Stream Ministry is pleased to make the electronic versions of free books freely available. We hope many would read through all these books and feel free to refer others to them. We ask for the sake of good order that printings of these files be limited to your own personal use. Please do not repost these files elsewhere in any form. If you desire to duplicate copies beyond this, please send a detailed written explanation of intended use and a request for permission to mmb.permissions@lsm.org. We also request that all copyright notices be respected according to applicable law. These PDF files are not to be modified or disassembled in any way for any other use.
.toolbar.tabbar
  .toolbar-inner
    %a.tab-link.back{:href => "/"}
      %i.fa.fa-times
      %span.tabbar-label Cancel
    %a.tab-link{:href => "/"}
      %i.fa.fa-check.color-green
      %span.tabbar-label.color-green  I Agree
