.page.page-current
  .page-content
    .block-title  SALVATION
    .list
      %ul
        %li.accordion-item
          %a.item-content.item-link{:href => "#"}
            .item-inner
              .item-title Assurance and security
          .accordion-item-content
            .block
              %h4
                1 John 5:13
                %sup 1
                ;
                4:13
                %sup 1, 3
                ;
              %h4
                Rom. 8:16
                %sup 3
                ;
                1 John 3:24
                %sup 4
                ,
                14
                %sup 1
                ;
              %h4
                John 10:28
                %sup 1
        %li.accordion-item
          %a.item-content.item-link{:href => "#"}
            .item-inner
              .item-title Aspects of God’s salvation
          .accordion-item-content
            .block
              %h3 Selection:
              %h4
                Cor 1:27
                %sup 1
                ;
              %h4
                Eph. 1:4
                %sup 1-3
                ;
              %h4
                1 Pet. 1:2
                %sup 1-4, 6
                ;
              %h4
                2 Thes. 2:13
                %sup 1
              %h3 Predestination:
              %h4
                Rom. 8:29
                %sup 2
                ;
              %h4
                Eph. 1:5
                %sup 1-2
                ,
                11
                %sup 1-4
                ;
              %h4
                Titus 1:2
                %sup 3
              %h3 Redemption:
              %h4
                Rom. 3:24
                %sup 3
                ;
              %h4
                Eph. 1:7
                %sup 1
                ;
              %h4
                Mark 14:36
                %sup 1
                ;
              %h4
                Matt. 27:45
                %sup 1
                ;
              %h4
                Col. 1:14
                %sup 1-2
                ;
              %h4
                Titus 2:14
                %sup 2
                ;
              %h4
                1 Pet. 1:18
                ,
                19
                %sup 1
                ;
              %h4
                Heb. 9:12
                %sup 1-2
                ,
                14
                %sup 2
                ;
                2:9
                %sup 3
              %h3 Propitiation:
              %h4
                Luke 18:13
                %sup 1
                ;
              %h4
                Rom. 3:25
                %sup 2-3
                ;
              %h4
                Heb. 2:17
                %sup 4
                ;
              %h4
                1 John 2:2
                %sup 1-2
              %h3 By the blood of Christ:
              %h4
                Heb. 9:14
                %sup 1, 3
                ,
                22
                %sup 1
                ;
              %h4
                Matt. 26:28
                %sup 1-2
                ;
              %h4
                Heb. 9:12
                %sup 1-2
                ;
              %h4
                Eph. 1:7
                %sup 1-2
                ;
                2:13
                %sup 3-4
                ;
              %h4
                1 Pet. 1:2
                %sup 8
                ,
                18
                %sup 2
                ,
                19
                %sup 1
                ;
              %h4
                Acts 20:28
                %sup 5
                ;
              %h4
                I John 1:7
                %sup 3-5
                ;
              %h4
                Heb. 12:24
                %sup 2-3
                ;
              %h4
                Rev. 12:11
                %sup 2
                ;
              %h4
                Heb. 13:12
                %sup 1-2
                ;
                10:29
                %sup 2-4
                ;
              %h4
                John 6:53
                %sup 1
                ,
                54
                %sup 2
                ;
              %h4
                1 Cor. 10:16
                %sup 1
              %h3 Forgiveness:
              %h4
                Acts 2:38
                %sup 5
                ;
              %h4
                Eph. 1:7
                %sup 2
                ;
              %h4
                Heb. 9:22
                %sup 1
                ;
              %h4
                1 John 2:12
                %sup 2
                ;
                1:9
                %sup 2-4
                ;
              %h3 Justification:
              %h4
                %span.bold (Objective)
                Acts 13:39
                %sup 2
                ;
              %h4
                Rom. 3:24
                %sup 1-2
                ,
                26
                %sup 1
                ,
                30
                %sup 1
                ;
                5:18
                %sup 1-2
                ;
                8:30
                %sup 1
              %h4
                %span.bold (Subjective)
                Rom. 4:1
                %sup 1
                ;
              %h4
                I John 1:7
                %sup 3-5
                ,
                3
                %sup 1
                ,
                25
                %sup 1
                ;
                5:18
                %sup 2
                ,
                19
                %sup 1
                ;
              %h4
                1 Cor. 6:11
                %sup 1
                ;
              %h4
                Phil. 3:9
                %sup 5-6
                ;
              %h4
                Matt. 5:20
                %sup 1
                ;
              %h3 Reconciliation:
              %h4
                Rom. 5:10
                %sup 1
                ;
              %h4
                Eph. 2:16
                %sup 1-4
                ,
                18
                %sup 1-4
                ;
              %h4
                Col. 1:20
                %sup 1-5
                ;
              %h4
                2 Cor. 5:20
                %sup 2
              %h3 Regeneration:
              %h4
                John 3:2
                %sup 1
                ,
                3
                %sup 1, 3
                ,
                5
                %sup 2
                ,
                6
                %sup 2
                ;
              %h4
                John 3:14
                %sup 1
                ,
                30
                %sup 1
                ;
              %h4
                Gal. 3:2
                %sup 1
                ;
              %h4
                Titus 3:5
                %sup 4
                ;
              %h4
                1 Pet. 1:3
                %sup 4, 7
                ,
                23
                %sup 1-2
                ,
                24
                %sup 1
                ;
              %h4
                1 John 2:29
                %sup 7
                ;
              %h4
                1 John 3:9
                %sup 3
                ,
                4:7
                %sup 4-5
                ,
                5:1
                %sup 1
                ,
                4
                %sup 1-3, 5
                ,
                19
                %sup 1
              %h3
                Sanctification:
                %span
                  2 Thes. 2:13
                  %sup 3
              %h4
                %span.bold (Before believing)
              %h4
                1 Pet. 1:2
                %sup 5
              %h4
                %span.bold (At the time we were saved)
              %h4
                Heb. 13:12
                %sup 1
                ;
              %h4
                1 Cor. 6:11
                %sup 1
                ;
                1:2
                %sup 4-6
              %h4
                %span.bold (After believing)
              %h4
                Rom. 6:19
                %sup 1-2
                ,
                22
                %sup 2
                ;
              %h4
                Acts 26:18
                %sup 7
                ;
              %h4
                1 Thes. 5:23
                %sup 1-5
                ;
              %h4
                Heb. 2:11
                %sup 1-2
                ;
              %h4
                Eph. 5:26
                %sup 1-4
                ;
              %h4
                John 17:17
                %sup 1-2
                ;
              %h3 Renewing:
              %h4
                Rom. 12:2
                %sup 4
                ;
              %h4
                2 Cor. 4:16
                %sup 3
                ;
              %h4
                Eph. 4:23
                %sup 1-2
                ;
              %h4
                Col. 3:10
                %sup 3
                ;
              %h4
                Titus 3:5
                %sup 4
                ;
              %h3 Transformation:
              %h4
                Rom. 12:2
                %sup 3-4
                ;
              %h4
                2 Cor. 3:18
                %sup 1, 3-10
                ;
              %h4
                Rev. 2:17
                %sup 3-4
                ;
              %h3 Conformation:
              %h4
                Rom. 8:28
                %sup 3
                ,
                29
                %sup 2-3
                ;
              %h4
                Phil. 3:10
                %sup 2-4
              %h3 Glorification, transfiguration:
              %h4
                Heb. 2:10
                %sup 3
                ;
              %h4
                Phil. 3:21
                %sup 1-4
                ;
              %h4
                2 Thes. 1:10
                %sup 1
                ;
              %h4
                Rom. 8:30
                %sup 2
                ,
                17
                %sup 1
                ;
              %h4
                Rev. 21:11
                %sup 1
        %li.accordion-item
          %a.item-content.item-link{:href => "#"}
            .item-inner
              .item-title Three stages, two sections
          .accordion-item-content
            .block
              %h4
                1 Pet. 1:5
                %sup 5
                ;
              %h4
                Rom. 5:10
                %sup 2
                ;
              %h4
                Luke 15:23
                %sup 1
        %li.accordion-item
          %a.item-content.item-link{:href => "#"}
            .item-inner
              .item-title Daily, constant salvation
          .accordion-item-content
            .block
              %h4
                Rom. 5:10
                %sup 3-4
                ;
              %h4
                Phil. 1:19
                %sup 1-3
                ;
                2:5
                %sup 2
                ;
                12
                %sup 3-4
                ;
                16
                %sup 2
