= render partial: 'shared/header', locals: { back: 'true', title: 'Companion to Basic Elements of the Christian Life', icon: 'logo-mark.svg'}
.page-content
  %a.link.external{href:"/companion_pdf/2018_BECL_Vol_1_companion_FINAL.pdf" , style:"color:gray !important;", :target => "_blank"} hgjhgjg
  / %object{:data => "/companion_pdf/2018_BECL_Vol_1_companion_FINAL.pdf", :height => "100%", :type => "application/pdf", :width => "100%"}