.navbar
  .navbar-inner
    .left
      %a.link.icon-only.open-panel{:href => "#"}
        %i.icon.icon-bars-blue
    .center
      sample1
.page
  .page-content
    .list-block
      %ul
        sample1
        sub topic