.navbar
  .navbar-inner
    .left
      %a.link.icon-only.open-panel{:href => "#"}
        %i.icon.icon-bars-blue
    .center
      sample 2
.page
  .page-content
    .list-block.media-list
      %ul
        sample2
        sub topic