.page.page-current
  .page-content
    .block-title  THE KINGDOM
    .list
      %ul
        %li.accordion-item
          %a.item-content.item-link{:href => "#"}
            .item-inner
              .item-title The kingdom of God
          .accordion-item-content
            .block
              %h4
                Mark 1:15
                %sup 1
                ;
                4:3
                %sup 1-2
                ,
                11
                %sup 1
                ,
                26
                %sup 1, 3
                ;
              %h4
                Luke 4:43
                %sup 2
                ;
              %h4
                John 3:3
                %sup 3
                ;
              %h4
                Acts 1:3
                %sup 4
                ;
                28:31
                %sup 2
                ;
              %h4
                Rom. 14:17
                %sup 1-2
                ,
                18
                %sup 1
                ;
              %h4
                1 Thes. 2:12
                %sup 2-3
                ;
              %h4
                2 Pet. 1:11
                %sup 1
                ;
              %h4
                Rev. 1:6
                %sup 1
        %li.accordion-item
          %a.item-content.item-link{:href => "#"}
            .item-inner
              .item-title The kingdom of the heavens
          .accordion-item-content
            .block
              %h4
                Matt. 5:3
                %sup 4
                & chart on pp. 30-31
                ;
                16:19
                %sup 2
                ;
                24:46
                %sup 1
                ,
                47
                %sup 1
                ;
              %h4
                Matt. 3:2
                %sup 2-3
                ;
                5:20
                %sup 3
                ;
                13:43
                %sup 2
                ,
                41
                %sup 1
                ;
              %h4
                Rev. 20:4
                %sup 1
                ,
                6
                %sup 1
                ;
              %h4
                Matt. 6:33
                %sup 1
        %li.accordion-item
          %a.item-content.item-link{:href => "#"}
            .item-inner
              .item-title The kingdom reward
          .accordion-item-content
            .block
              %h4
                Heb. 10:35
                %sup 1
                ;
              %h4
                1 Cor. 3:8
                %sup 1
                ,
                14
                %sup 1-2
                ,
                15
                %sup 1-4
                ;
              %h4
                Rev. 22:12
                %sup 1-2
                ;
              %h4
                2 Cor. 5:10
                %sup 2-4
                ;
              %h4
                Matt. 16:27
                %sup 1-2
                ;
                25:21
                %sup 1-4
                ,
                23
                %sup 1-2
                ;
              %h4
                1 Cor. 9:17
                %sup 1
                ,
                24
                %sup 1-2
                ,
                25
                %sup 1
                ,
                27
                %sup 4-5
                ;
              %h4
                Phil. 3:11
                %sup 1-2
                ,
                14
                %sup 3
                ;
              %h4
                2 Tim. 4:7
                %sup 2
                ,
                8
                %sup 2
                ,
                18
                %sup 1
                ;
              %h4
                Heb. 11:26
                %sup 3
                ,
                35
                %sup 2
                ,
                12:1
                %sup 5
                ,
                28
                %sup 1
