.page.page-current
  .page-content
    .block-title  THE BELIEVERS
    .list
      %ul
        %li.accordion-item
          %a.item-content.item-link{:href => "#"}
            .item-inner
              .item-title Christians
          .accordion-item-content
            .block
              %h4
                Acts 11:26
                %sup 1
                ;
              %h4
                1 Pet. 4:16
                %sup 1
        %li.accordion-item
          %a.item-content.item-link{:href => "#"}
            .item-inner
              .item-title Saints
          .accordion-item-content
            .block
              %h4
                Eph. 1:1
                %sup 3
                ;
                5:3
                %sup 2
                ;
              %h4
                1 Cor. 1:2
                %sup 6
        %li.accordion-item
          %a.item-content.item-link{:href => "#"}
            .item-inner
              .item-title Children of God
          .accordion-item-content
            .block
              %h4
                1 John 3:1
                %sup 4
                , 2
                %sup 1
                ;
                2:29
                %sup 7
                ;
              %h4
                Rom. 8:16
                %sup 3
        %li.accordion-item
          %a.item-content.item-link{:href => "#"}
            .item-inner
              .item-title Sons of God
          .accordion-item-content
            .block
              %h4
                Rom. 8:14
                %sup 3
                , 15
                %sup 1
                ;
              %h4
                Gal. 3:26
                %sup 1-2
                ;
                4:6
                %sup 1
        %li.accordion-item
          %a.item-content.item-link{:href => "#"}
            .item-inner
              .item-title Brothers of Christ
          .accordion-item-content
            .block
              %h4
                John 20:17
                %sup 2-3
                ;
                Rom. 8:29
                %sup 5
                ;
                Heb. 2:11
                %sup 1
                , 12
                %sup 1
