

#app.framework7-root
  .statusbar
  .panel-backdrop
  .panel.panel-left.panel-cover
    .page
      .page-content

        .block-title Side Menu Navigation
        .list.links-list
          %ul
            %li
              %a.panel-close{:href => "#"} Sample 1
            %li
              %a.panel-close{:href => "#"} Sample 2
            %li
              %a.panel-close{:href => "#"} Sample 3
            %li
              %a.panel-close{:href => "#"} Sample 4
            %li
              %a.panel-close{:href => "#"} Sample 5
            %li
              %a.panel-close{:href => "#"} Sample 6
            %li
              %a.panel-close{:href => "#"} Sample 7
            %li
              %a.panel-close{:href => "#"} Sample 8
            %li
              %a.panel-close{:href => "#"} Sample 9


  .view.view-main.view-init.ios-edges{"data-url" => "/"}
    .navbar
      .navbar-inner.navbar-current
        .left
          %a.link.icon-only.panel-open{"data-panel" => "left", :href => "#"}
            %i.icon.f7-icons.ios-only menu
        .title.sliding{:style => "left: 0px;color:green;"} Topical Guide
        .right
          %a.link.icon-only.searchbar-enable{"data-searchbar" => ".searchbar-components"}
            %i.icon.f7-icons.ios-only search_strong

    .page.page-current
      .page-content
        .left
          %h1 THE WORD OF GOD
          %h2 The written Word
          %h3 Essence:
          %h4
            2 Tim. 3:16
            %sup 2
            ;
          %h4
            Titus 3:5
            %sup 5
          %h3 Origin:
          %h4
            2 Pet. 1:20
            %sup 2
            21
            %sup 1-2
            ;
          %h4
            Heb. 1:1
            %sup 1
            ,
            2
            %sup 2
            ;
          %h4
            1 Thes. 2:13
            %sup 2
            ;
          %h4
            Rev. 22:6
            %sup 3
          %h3 Content:
          %h4
            Matt. 1:1
            %sup 1
            (para. 1-2)
            ;
          %h4
            Luke 24:44
            %sup 2
            ;
            John 17:17
            %sup 1-3
            ;
            Phil. 2:16
            %sup 2
            ;
            1 Thes. 1:6
            %sup 2
          %h2 The spoken word
          %h4
            John 6:63
            %sup 3
            ;
            Heb. 1:3
            %sup 2
            ;
            Matt. 4:4
            %sup 4
            ;
            Eph. 5:26
            %sup 4
            ;
            6:17
            %sup 4
            ;
            Heb. 6:5
            %sup 1

          %h2 The living Word
          %h4
            1 John 1:1
            %sup 5
            ;
            John 1:1
            %sup 2-5
            ;
            14
            %sup 1,3
            ;
            Rev. 19:13
            %sup 2
            ;
            Rom. 10:8
            %sup 1

          %h2 The functions of the Word
          %h3 Testifying concerning the Lord Jesus:
          %h4
            John 5:39
            %sup 1
            ;
            Luke 24:44
            %sup 1
            ;
          %h3 Making men wise unto salvation:
          %h4
            2 Tim. 3:15
            %sup 1
            ;
          %h3 Causing men to be regenerated:
          %h4
            1 Peter 1:23
            %sup 2
            ;
          %h3 Being the believers’ spiritual milk:
          %h4
            1 Peter 2:2
            %sup 1-4
            ;
            Heb. 5:12
            %sup 3
            ;
          %h3 Being the believers’ bread of life:
          %h4
            1Matt. 4:4
            %sup 3
            ;
            1 Tim. 4:6
            %sup 2,4
            ;
          %h3 Making the believers complete:
          %h4
            2 Tim. 3:16
            %sup 1, 3-5
            ;
            17
            %sup 2-3
            ;
          %h2 Receiving the Word
          %h3 With understanding::
          %h4
            Luke 24:45
            %sup 1
            ;
          %h3 With a spirit of wisdom and revelation:
          %h4
            Eph. 1:17
            %sup 3-4
            ;
            3:5
            %sup 3
          %h3 By praying in spirit: By singing:
          %h4
            Eph. 6:18
            %sup 1,3
            ;
          %h3 By singing:
          %h4
            Col. 3:16
            %sup 5,7
            ;
          %h2 **************************************************************************