.page.page-current
  .page-content
    .left
      %h1 THE BELIEVERS
      %h2 Christians
      %h4
        Acts 11:26
        %sup 1
        ;
        1 Pet. 4:16
        %sup 1
      %h2 Saints
      %h4
        Eph. 1:1
        %sup 3
        ;
        5:3
        %sup 2
        ;
        1 Cor. 1:2
        %sup 6
      %h2 Children of God
      %h4
        1 John 3:1
        %sup 4
        , 2
        %sup 1
        ;
        2:29
        %sup 7
        ;
        Rom. 8:16
        %sup 3
      %h2 Sons of God
      %h4
        Rom. 8:14
        %sup 3
        , 15
        %sup 1
        ;
        Gal. 3:26
        %sup 1-2
        ;
        4:6
        %sup 1
      %h2 Brothers of Christ
      %h4
        John 20:17
        %sup 2-3
        ;
        Rom. 8:29
        %sup 5
        ;
        Heb. 2:11
        %sup 1
        , 12
        %sup 1
      %h2 **************************************************************************