.page.page-current
  .page-content
    .left
      %h1 THE GOSPEL
      %h2 Good news, glad tidings
      %h4
        Mark 1:1
        %sup 2
        , 14
        %sup 2-3
        ;
        Rom. 1:1
        %sup 9
        , 2
        %sup 2
      %h2 Of Jesus Christ, the Son of God
      %h4
        Mark 1:15
        %sup 4
        , 1
        %sup 3
        ;
        Rom. 1:3
        %sup 1,5
        ;
        Gal. 1:16
        %sup 4
      %h2 Of the kingdom
      %h4
        Luke 4:43
        %sup 1–2
        ;
        Mark 1:15
        %sup 1
        ;
        4:3
        %sup 1-2
        , 26
        %sup 1,3
        ;
        Matt. 4:23
        %sup 2
        ;
        24:14
        %sup 1-2
      %h2 Its main points, focus, and blessing
      %h4
        John 16:8
        %sup 2
        ;
        1 Cor. 15:3
        %sup 1
        ;
        Eph. 3:8
        %sup 3
        ;
        2 Tim. 2:8
        %sup 3
        ;
        Rom. 1:1
        %sup 9
        , 5
        %sup 4
        ;
        16:25
        %sup 2-3
        ;
        Gal. 1:6
        %sup 4
        ;
        3:14
        %sup 2-3
        ;
        4:19
        %sup 3
      %h2 The power of God unto salvation
      %h4
        Rom. 1:16
        %sup 1-2
        , 17
        %sup 1
      %h2
        Received by repenting, believing,
        and calling on the Lord
      %h4
        Mark 1:15
        %sup 2-3
        ;
        Rom. 1:5
        %sup 3
        ;
        10:8
        %sup 1
        ='-'
        14
        %sup 1
      %h2 Gospel service or priesthood
      %h3 Of Jesus:
      %h4
        Mark 1:40
        %sup 1
        ;
        2:1
        %sup 1
        ;
        4:3
        %sup 2
        , 14
        %sup 1
      %h3 Of Paul:
      %h4
        Rom. 15:16
        %sup 3
        ;
        1 Cor. 4:15
        %sup 2
        ;
        1 Thes. 2:1
        %sup 1
        , 8
        %sup 1-2
        , 11
        %sup 1-2
      %h3 Of the believers:
      %h4
        1 Pet. 2:9
        %sup 4
        , 5
        %sup 8
      %h2 **************************************************************************