.page.page-current
  .page-content
    .left
      %h1 THE CHURCH—THE BODY OF CHRIST
      %h2 A called-out congregation
      %h4
        Matt. 16:18
        %sup 5
        ;
        Eph. 1:22
        %sup 4
        ;
      %h2 The church of God
      %h4
        1 Cor. 1:2
        %sup 1
        ;
        1 Tim. 3:15
        %sup 3
        ;
      %h2 The house of God
      %h4
        1 Tim. 3:15
        %sup 2
        ;
        1 Pet. 2:5
        %sup 4
        ;
        Eph. 2:19
        %sup 4
        ,
        20
        %sup 1-2
        ,
        21
        %sup 1, 4
        ,
        22
        %sup 4
      %h2 The Body of Christ
      %h4
        Rom. 12:5
        %sup 1-2
        ;
        Eph. 1:23
        %sup 1-3
        ;
        4:4
        %sup 1
        ,
        16
        %sup 1-9
        ;
        1 Cor. 10:17
        %sup 1
        ;
        11:29
        %sup 3
        ;
        12:13
        %sup 2
      %h2 The corporate Christ
      %h4
        1 Cor. 12:12
        %sup 2
        ;
        Acts 9:4
        %sup 1
        ;
        Rom. 1:1
        %sup 3
        ;
        Matt. 9:17
        %sup 3
      %h2 The new man
      %h4
        Gal. 3:28
        %sup 5
        ;
        Eph. 2:15
        %sup 5-9
        ;
        4:24
        %sup 2
        ;
        Col. 3:10
        %sup 2
        ;
        11
        %sup 9-10
        ;
        4:7
        %sup 1
      %h2 The bride of Christ
      %h4
        John 3:30
        %sup 1
        ;
        2 Cor. 11:2
        %sup 2
        ,
        3
        %sup 2
        ;
        Eph. 5:25
        %sup 1
        ,
        26
        %sup 1
        ,
        27
        %sup 1-3
        ,
        32
        %sup 1
        ;
        Rev. 19:7
        %sup 1-2
      %h2 The golden lampstands
      %h4
        Rev. 1:12
        %sup 1-3
        ,
        13
        %sup 1
        ,
        20
        %sup 1
        (para. 2)
      %h2 The local churches
      %h4
        Rom. 16:4
        %sup 3
        ;
        Titus 1:5
        %sup 1
        ;
        Acts 14:23
        %sup 2
        ;
        Rev. 1:11
        %sup 1
        ,
        4
        %sup 2
        ;
        Acts 8:1
        %sup 1
        ;
        Phil. 1:1
        %sup 2
        ;
        1 Cor. 1:2
        %sup 2
        ;
        Matt. 18:17
        %sup 2
        ;
        Rom. 16:1
        %sup 2
        (para. 2)
      %h2 The unique oneness of the church
      %h4
        John 17:11
        %sup 1-2
        ,
        21
        %sup 1
        ,
        22
        %sup 1-2
        ,
        23
        %sup 1
        ;
        Eph. 4:3
        %sup 1-3
        ,
        4
        %sup 1
        ,
        6
        %sup 3
        ,
        13
        %sup 1-5
        ,
        14
        %sup 5
      %h2 Meetings
      %h4
        Matt. 18:20
        %sup 2
        ;
        John 20:19
        %sup 1
        ,
        20
        %sup 1
        ,
        24
        %sup 2
        ;
        Acts 2:42
        %sup 1
        ,
        46
        %sup 3
        ,
        47
        %sup 2
        ,
        20:7
        %sup 1
        ;
        1 Cor. 14:1
        %sup 3
        ,
        16
        %sup 2
        ,
        17
        %sup 1
        ,
        24
        %sup 1
        ,
        25
        %sup 1
        ,
        26
        %sup 1-2
        ,
        32
        %sup 1
        ;
        Heb. 2:12
        %sup 3
        ;
        10:25
        %sup 1-2
        ;
        13:15
        %sup 1
      %h2 **************************************************************************