h4 {
  display: inline;
  white-space: nowrap;
  font-size:15px;
  font-weight:bold;
}
.left{
  margin-left: 12px;
}
.bold{
  font-size: 16px;
}

.unit-sub-sub-topic {
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 3px;
  color:grey;
}

.sub-topic {
  font-weight: bold;
}

/*
.subtopic-open {
  background-color: #FFFF99;
}


.subtopic-close {
  background-color:white;
}
*/

.highlight-verse {
  background-color: #FFFACD;
  padding: 11px 7px;
}

.verse-gap {
  margin-left: 7px;
  line-height:  38px;
}