h4 {
  display: inline-block;
  white-space: nowrap;
  font-size:15px;
  font-weight:normal;
  background-color: #eee;
  border-radius: 4px;
  padding: 8px 10px;
  margin: 5px 3px;
  border: 1px solid #eee;

}

h4:hover{
  border: 1px solid grey;
}

h4:active{
  border: 1px solid grey;
}

h4:focus {
  border: 1px solid grey;
}

h4.highlight {
  background-color: #ffedcc;
  border: 1px solid #ffedcc;
}

h4.highlight:hover {
  border: 1px solid grey;
}

h4.highlight:active {
  border: 1px solid grey;
}

h4.highlight:focus {
  border: 1px solid grey;
}


h3 {
  font-style: italic;
  color:grey;
  margin-bottom: 3px;
  font-weight: normal;
}

.sub-topic {
  font-weight: bold;
}

.footnote {
  position: relative;
  margin-left: -1px;
  top: -3px;
  color: #DD0C0C;
}

.hr{
    background-color: #c8c7cc;
    height: 1px;
    width: 100%;
    margin-top: 22px;
}

.tab-green {
  background-color: #9abc32 !important;
  color: white !important;
}

.tab-grey {
  background-color: #c7cccf !important;
  color: white !important;
}

.italic {
  font-style: italic;
}

/* Icon colors */
.red {
  color: #d53f40;
}


.light-blue {
  color: #4f9acb;
}

.dark-blue {
  color: #003a62;
}


/* topics headings */

.topic {
  font-weight: bolder;
}

.list-item {
  color: #2679b5;
  font-weight: bolder
}

.popup-title {
  font-weight: bold;
  font-style: italic;
}

.footnote-box {
  margin-left:  -6px;
}

.footnote-begin {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.footnote-mid {
  border-radius: 0px;
}

.footnote-end {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

