!!!
%html.ios.device-pixel-ratio-1.device-desktop.support-position-sticky{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "#2196f3", :name => "theme-color"}/
    %meta{:content => "default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:", "http-equiv" => "Content-Security-Policy"}/
    %title RCV Topical Guide
    / %link{:href => "img/f7-icon-square.png", :rel => "apple-touch-icon"}/
    / %link{:href => "img/f7-icon.png", :rel => "icon"}/
    = stylesheet_link_tag    'application', media: 'all'
  %body
    #app
      .statusbar
      .view.view-main
        .page{ "data-page" => "pdfviewer"}
          = yield
    = javascript_include_tag 'application'
